@font-face {
	font-family: 'fontello';
	src: url('fontello.woff') format('woff'),
	     url('fontello.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	/* margin-right: .2em; */
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: inherit;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	/* margin-left: .2em; */

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-ion-alert-circled:before                  { content: '\e800'; }
.icon-ion-alert:before                          { content: '\e801'; }
.icon-ion-android-add-circle:before             { content: '\e802'; }
.icon-ion-android-add:before                    { content: '\e803'; }
.icon-ion-android-alarm-clock:before            { content: '\e804'; }
.icon-ion-android-alert:before                  { content: '\e805'; }
.icon-ion-android-apps:before                   { content: '\e806'; }
.icon-ion-android-archive:before                { content: '\e807'; }
.icon-ion-android-arrow-back:before             { content: '\e808'; }
.icon-ion-android-arrow-down:before             { content: '\e809'; }
.icon-ion-android-arrow-dropdown-circle:before  { content: '\e80a'; }
.icon-ion-android-arrow-dropdown:before         { content: '\e80b'; }
.icon-ion-android-arrow-dropleft-circle:before  { content: '\e80c'; }
.icon-ion-android-arrow-dropleft:before         { content: '\e80d'; }
.icon-ion-android-arrow-dropright-circle:before { content: '\e80e'; }
.icon-ion-android-arrow-dropright:before        { content: '\e80f'; }
.icon-ion-android-arrow-dropup-circle:before    { content: '\e810'; }
.icon-ion-android-arrow-dropup:before           { content: '\e811'; }
.icon-ion-android-arrow-forward:before          { content: '\e812'; }
.icon-ion-android-arrow-up:before               { content: '\e813'; }
.icon-ion-android-attach:before                 { content: '\e814'; }
.icon-ion-android-bar:before                    { content: '\e815'; }
.icon-ion-android-bicycle:before                { content: '\e816'; }
.icon-ion-android-boat:before                   { content: '\e817'; }
.icon-ion-android-bookmark:before               { content: '\e818'; }
.icon-ion-android-bulb:before                   { content: '\e819'; }
.icon-ion-android-bus:before                    { content: '\e81a'; }
.icon-ion-android-calendar:before               { content: '\e81b'; }
.icon-ion-android-call:before                   { content: '\e81c'; }
.icon-ion-android-camera:before                 { content: '\e81d'; }
.icon-ion-android-cancel:before                 { content: '\e81e'; }
.icon-ion-android-car:before                    { content: '\e81f'; }
.icon-ion-android-cart:before                   { content: '\e820'; }
.icon-ion-android-chat:before                   { content: '\e821'; }
.icon-ion-android-checkbox-blank:before         { content: '\e822'; }
.icon-ion-android-checkbox-outline-blank:before { content: '\e823'; }
.icon-ion-android-checkbox-outline:before       { content: '\e824'; }
.icon-ion-android-checkbox:before               { content: '\e825'; }
.icon-ion-android-checkmark-circle:before       { content: '\e826'; }
.icon-ion-android-clipboard:before              { content: '\e827'; }
.icon-ion-android-close:before                  { content: '\e828'; }
.icon-ion-android-cloud-circle:before           { content: '\e829'; }
.icon-ion-android-cloud-done:before             { content: '\e82a'; }
.icon-ion-android-cloud-outline:before          { content: '\e82b'; }
.icon-ion-android-cloud:before                  { content: '\e82c'; }
.icon-ion-android-color-palette:before          { content: '\e82d'; }
.icon-ion-android-compass:before                { content: '\e82e'; }
.icon-ion-android-contact:before                { content: '\e82f'; }
.icon-ion-android-contacts:before               { content: '\e830'; }
.icon-ion-android-contract:before               { content: '\e831'; }
.icon-ion-android-create:before                 { content: '\e832'; }
.icon-ion-android-delete:before                 { content: '\e833'; }
.icon-ion-android-desktop:before                { content: '\e834'; }
.icon-ion-android-document:before               { content: '\e835'; }
.icon-ion-android-done-all:before               { content: '\e836'; }
.icon-ion-android-done:before                   { content: '\e837'; }
.icon-ion-android-download:before               { content: '\e838'; }
.icon-ion-android-drafts:before                 { content: '\e839'; }
.icon-ion-android-exit:before                   { content: '\e83a'; }
.icon-ion-android-expand:before                 { content: '\e83b'; }
.icon-ion-android-favorite-outline:before       { content: '\e83c'; }
.icon-ion-android-favorite:before               { content: '\e83d'; }
.icon-ion-android-film:before                   { content: '\e83e'; }
.icon-ion-android-folder-open:before            { content: '\e83f'; }
.icon-ion-android-folder:before                 { content: '\e840'; }
.icon-ion-android-funnel:before                 { content: '\e841'; }
.icon-ion-android-globe:before                  { content: '\e842'; }
.icon-ion-android-hand:before                   { content: '\e843'; }
.icon-ion-android-hangout:before                { content: '\e844'; }
.icon-ion-android-happy:before                  { content: '\e845'; }
.icon-ion-android-home:before                   { content: '\e846'; }
.icon-ion-android-image:before                  { content: '\e847'; }
.icon-ion-android-laptop:before                 { content: '\e848'; }
.icon-ion-android-list:before                   { content: '\e849'; }
.icon-ion-android-locate:before                 { content: '\e84a'; }
.icon-ion-android-lock:before                   { content: '\e84b'; }
.icon-ion-android-mail:before                   { content: '\e84c'; }
.icon-ion-android-map:before                    { content: '\e84d'; }
.icon-ion-android-menu:before                   { content: '\e84e'; }
.icon-ion-android-microphone-off:before         { content: '\e84f'; }
.icon-ion-android-microphone:before             { content: '\e850'; }
.icon-ion-android-more-horizontal:before        { content: '\e851'; }
.icon-ion-android-more-vertical:before          { content: '\e852'; }
.icon-ion-android-navigate:before               { content: '\e853'; }
.icon-ion-android-notifications-none:before     { content: '\e854'; }
.icon-ion-android-notifications-off:before      { content: '\e855'; }
.icon-ion-android-notifications:before          { content: '\e856'; }
.icon-ion-android-open:before                   { content: '\e857'; }
.icon-ion-android-options:before                { content: '\e858'; }
.icon-ion-android-people:before                 { content: '\e859'; }
.icon-ion-android-person-add:before             { content: '\e85a'; }
.icon-ion-android-person:before                 { content: '\e85b'; }
.icon-ion-android-phone-landscape:before        { content: '\e85c'; }
.icon-ion-android-phone-portrait:before         { content: '\e85d'; }
.icon-ion-android-pin:before                    { content: '\e85e'; }
.icon-ion-android-plane:before                  { content: '\e85f'; }
.icon-ion-android-playstore:before              { content: '\e860'; }
.icon-ion-android-print:before                  { content: '\e861'; }
.icon-ion-android-radio-button-off:before       { content: '\e862'; }
.icon-ion-android-radio-button-on:before        { content: '\e863'; }
.icon-ion-android-refresh:before                { content: '\e864'; }
.icon-ion-android-remove-circle:before          { content: '\e865'; }
.icon-ion-android-remove:before                 { content: '\e866'; }
.icon-ion-android-restaurant:before             { content: '\e867'; }
.icon-ion-android-sad:before                    { content: '\e868'; }
.icon-ion-android-search:before                 { content: '\e869'; }
.icon-ion-android-send:before                   { content: '\e86a'; }
.icon-ion-android-settings:before               { content: '\e86b'; }
.icon-ion-android-share-alt:before              { content: '\e86c'; }
.icon-ion-android-share:before                  { content: '\e86d'; }
.icon-ion-android-star-half:before              { content: '\e86e'; }
.icon-ion-android-star-outline:before           { content: '\e86f'; }
.icon-ion-android-star:before                   { content: '\e870'; }
.icon-ion-android-stopwatch:before              { content: '\e871'; }
.icon-ion-android-subway:before                 { content: '\e872'; }
.icon-ion-android-sunny:before                  { content: '\e873'; }
.icon-ion-android-sync:before                   { content: '\e874'; }
.icon-ion-android-textsms:before                { content: '\e875'; }
.icon-ion-android-time:before                   { content: '\e876'; }
.icon-ion-android-train:before                  { content: '\e877'; }
.icon-ion-android-unlock:before                 { content: '\e878'; }
.icon-ion-android-upload:before                 { content: '\e879'; }
.icon-ion-android-volume-down:before            { content: '\e87a'; }
.icon-ion-android-volume-mute:before            { content: '\e87b'; }
.icon-ion-android-volume-off:before             { content: '\e87c'; }
.icon-ion-android-volume-up:before              { content: '\e87d'; }
.icon-ion-android-walk:before                   { content: '\e87e'; }
.icon-ion-android-warning:before                { content: '\e87f'; }
.icon-ion-android-watch:before                  { content: '\e880'; }
.icon-ion-android-wifi:before                   { content: '\e881'; }
.icon-ion-aperture:before                       { content: '\e882'; }
.icon-ion-archive:before                        { content: '\e883'; }
.icon-ion-arrow-down-a:before                   { content: '\e884'; }
.icon-ion-arrow-down-b:before                   { content: '\e885'; }
.icon-ion-arrow-down-c:before                   { content: '\e886'; }
.icon-ion-arrow-expand:before                   { content: '\e887'; }
.icon-ion-arrow-graph-down-left:before          { content: '\e888'; }
.icon-ion-arrow-graph-down-right:before         { content: '\e889'; }
.icon-ion-arrow-graph-up-left:before            { content: '\e88a'; }
.icon-ion-arrow-graph-up-right:before           { content: '\e88b'; }
.icon-ion-arrow-left-a:before                   { content: '\e88c'; }
.icon-ion-arrow-left-b:before                   { content: '\e88d'; }
.icon-ion-arrow-left-c:before                   { content: '\e88e'; }
.icon-ion-arrow-move:before                     { content: '\e88f'; }
.icon-ion-arrow-resize:before                   { content: '\e890'; }
.icon-ion-arrow-return-left:before              { content: '\e891'; }
.icon-ion-arrow-return-right:before             { content: '\e892'; }
.icon-ion-arrow-right-a:before                  { content: '\e893'; }
.icon-ion-arrow-right-b:before                  { content: '\e894'; }
.icon-ion-arrow-right-c:before                  { content: '\e895'; }
.icon-ion-arrow-shrink:before                   { content: '\e896'; }
.icon-ion-arrow-swap:before                     { content: '\e897'; }
.icon-ion-arrow-up-a:before                     { content: '\e898'; }
.icon-ion-arrow-up-b:before                     { content: '\e899'; }
.icon-ion-arrow-up-c:before                     { content: '\e89a'; }
.icon-ion-asterisk:before                       { content: '\e89b'; }
.icon-ion-at:before                             { content: '\e89c'; }
.icon-ion-backspace-outline:before              { content: '\e89d'; }
.icon-ion-backspace:before                      { content: '\e89e'; }
.icon-ion-bag:before                            { content: '\e89f'; }
.icon-ion-battery-charging:before               { content: '\e8a0'; }
.icon-ion-battery-empty:before                  { content: '\e8a1'; }
.icon-ion-battery-full:before                   { content: '\e8a2'; }
.icon-ion-battery-half:before                   { content: '\e8a3'; }
.icon-ion-battery-low:before                    { content: '\e8a4'; }
.icon-ion-beaker:before                         { content: '\e8a5'; }
.icon-ion-beer:before                           { content: '\e8a6'; }
.icon-ion-bluetooth:before                      { content: '\e8a7'; }
.icon-ion-bonfire:before                        { content: '\e8a8'; }
.icon-ion-bookmark:before                       { content: '\e8a9'; }
.icon-ion-bowtie:before                         { content: '\e8aa'; }
.icon-ion-briefcase:before                      { content: '\e8ab'; }
.icon-ion-bug:before                            { content: '\e8ac'; }
.icon-ion-calculator:before                     { content: '\e8ad'; }
.icon-ion-calendar:before                       { content: '\e8ae'; }
.icon-ion-camera:before                         { content: '\e8af'; }
.icon-ion-card:before                           { content: '\e8b0'; }
.icon-ion-cash:before                           { content: '\e8b1'; }
.icon-ion-chatbox-working:before                { content: '\e8b2'; }
.icon-ion-chatbox:before                        { content: '\e8b3'; }
.icon-ion-chatboxes:before                      { content: '\e8b4'; }
.icon-ion-chatbubble-working:before             { content: '\e8b5'; }
.icon-ion-chatbubble:before                     { content: '\e8b6'; }
.icon-ion-chatbubbles:before                    { content: '\e8b7'; }
.icon-ion-checkmark-circled:before              { content: '\e8b8'; }
.icon-ion-checkmark-round:before                { content: '\e8b9'; }
.icon-ion-checkmark:before                      { content: '\e8ba'; }
.icon-ion-chevron-down:before                   { content: '\e8bb'; }
.icon-ion-chevron-left:before                   { content: '\e8bc'; }
.icon-ion-chevron-right:before                  { content: '\e8bd'; }
.icon-ion-chevron-up:before                     { content: '\e8be'; }
.icon-ion-clipboard:before                      { content: '\e8bf'; }
.icon-ion-clock:before                          { content: '\e8c0'; }
.icon-ion-close-circled:before                  { content: '\e8c1'; }
.icon-ion-close-round:before                    { content: '\e8c2'; }
.icon-ion-close:before                          { content: '\e8c3'; }
.icon-ion-closed-captioning:before              { content: '\e8c4'; }
.icon-ion-cloud:before                          { content: '\e8c5'; }
.icon-ion-code-download:before                  { content: '\e8c6'; }
.icon-ion-code-working:before                   { content: '\e8c7'; }
.icon-ion-code:before                           { content: '\e8c8'; }
.icon-ion-coffee:before                         { content: '\e8c9'; }
.icon-ion-compass:before                        { content: '\e8ca'; }
.icon-ion-compose:before                        { content: '\e8cb'; }
.icon-ion-connection-bars:before                { content: '\e8cc'; }
.icon-ion-contrast:before                       { content: '\e8cd'; }
.icon-ion-crop:before                           { content: '\e8ce'; }
.icon-ion-cube:before                           { content: '\e8cf'; }
.icon-ion-disc:before                           { content: '\e8d0'; }
.icon-ion-document-text:before                  { content: '\e8d1'; }
.icon-ion-document:before                       { content: '\e8d2'; }
.icon-ion-drag:before                           { content: '\e8d3'; }
.icon-ion-earth:before                          { content: '\e8d4'; }
.icon-ion-easel:before                          { content: '\e8d5'; }
.icon-ion-edit:before                           { content: '\e8d6'; }
.icon-ion-egg:before                            { content: '\e8d7'; }
.icon-ion-eject:before                          { content: '\e8d8'; }
.icon-ion-email-unread:before                   { content: '\e8d9'; }
.icon-ion-email:before                          { content: '\e8da'; }
.icon-ion-erlenmeyer-flask-bubbles:before       { content: '\e8db'; }
.icon-ion-erlenmeyer-flask:before               { content: '\e8dc'; }
.icon-ion-eye-disabled:before                   { content: '\e8dd'; }
.icon-ion-eye:before                            { content: '\e8de'; }
.icon-ion-female:before                         { content: '\e8df'; }
.icon-ion-filing:before                         { content: '\e8e0'; }
.icon-ion-film-marker:before                    { content: '\e8e1'; }
.icon-ion-fireball:before                       { content: '\e8e2'; }
.icon-ion-flag:before                           { content: '\e8e3'; }
.icon-ion-flame:before                          { content: '\e8e4'; }
.icon-ion-flash-off:before                      { content: '\e8e5'; }
.icon-ion-flash:before                          { content: '\e8e6'; }
.icon-ion-folder:before                         { content: '\e8e7'; }
.icon-ion-fork-repo:before                      { content: '\e8e8'; }
.icon-ion-fork:before                           { content: '\e8e9'; }
.icon-ion-forward:before                        { content: '\e8ea'; }
.icon-ion-funnel:before                         { content: '\e8eb'; }
.icon-ion-gear-a:before                         { content: '\e8ec'; }
.icon-ion-gear-b:before                         { content: '\e8ed'; }
.icon-ion-grid:before                           { content: '\e8ee'; }
.icon-ion-hammer:before                         { content: '\e8ef'; }
.icon-ion-happy-outline:before                  { content: '\e8f0'; }
.icon-ion-happy:before                          { content: '\e8f1'; }
.icon-ion-headphone:before                      { content: '\e8f2'; }
.icon-ion-heart-broken:before                   { content: '\e8f3'; }
.icon-ion-heart:before                          { content: '\e8f4'; }
.icon-ion-help-buoy:before                      { content: '\e8f5'; }
.icon-ion-help-circled:before                   { content: '\e8f6'; }
.icon-ion-help:before                           { content: '\e8f7'; }
.icon-ion-home:before                           { content: '\e8f8'; }
.icon-ion-icecream:before                       { content: '\e8f9'; }
.icon-ion-image:before                          { content: '\e8fa'; }
.icon-ion-images:before                         { content: '\e8fb'; }
.icon-ion-information-circled:before            { content: '\e8fc'; }
.icon-ion-information:before                    { content: '\e8fd'; }
.icon-ion-ionic:before                          { content: '\e8fe'; }
.icon-ion-ios-alarm-outline:before              { content: '\e8ff'; }
.icon-ion-ios-alarm:before                      { content: '\e900'; }
.icon-ion-ios-albums-outline:before             { content: '\e901'; }
.icon-ion-ios-albums:before                     { content: '\e902'; }
.icon-ion-ios-americanfootball-outline:before   { content: '\e903'; }
.icon-ion-ios-americanfootball:before           { content: '\e904'; }
.icon-ion-ios-analytics-outline:before          { content: '\e905'; }
.icon-ion-ios-analytics:before                  { content: '\e906'; }
.icon-ion-ios-arrow-back:before                 { content: '\e907'; }
.icon-ion-ios-arrow-down:before                 { content: '\e908'; }
.icon-ion-ios-arrow-forward:before              { content: '\e909'; }
.icon-ion-ios-arrow-left:before                 { content: '\e90a'; }
.icon-ion-ios-arrow-right:before                { content: '\e90b'; }
.icon-ion-ios-arrow-thin-down:before            { content: '\e90c'; }
.icon-ion-ios-arrow-thin-left:before            { content: '\e90d'; }
.icon-ion-ios-arrow-thin-right:before           { content: '\e90e'; }
.icon-ion-ios-arrow-thin-up:before              { content: '\e90f'; }
.icon-ion-ios-arrow-up:before                   { content: '\e910'; }
.icon-ion-ios-at-outline:before                 { content: '\e911'; }
.icon-ion-ios-at:before                         { content: '\e912'; }
.icon-ion-ios-barcode-outline:before            { content: '\e913'; }
.icon-ion-ios-barcode:before                    { content: '\e914'; }
.icon-ion-ios-baseball-outline:before           { content: '\e915'; }
.icon-ion-ios-baseball:before                   { content: '\e916'; }
.icon-ion-ios-basketball-outline:before         { content: '\e917'; }
.icon-ion-ios-basketball:before                 { content: '\e918'; }
.icon-ion-ios-bell-outline:before               { content: '\e919'; }
.icon-ion-ios-bell:before                       { content: '\e91a'; }
.icon-ion-ios-body-outline:before               { content: '\e91b'; }
.icon-ion-ios-body:before                       { content: '\e91c'; }
.icon-ion-ios-bolt-outline:before               { content: '\e91d'; }
.icon-ion-ios-bolt:before                       { content: '\e91e'; }
.icon-ion-ios-book-outline:before               { content: '\e91f'; }
.icon-ion-ios-book:before                       { content: '\e920'; }
.icon-ion-ios-bookmarks-outline:before          { content: '\e921'; }
.icon-ion-ios-bookmarks:before                  { content: '\e922'; }
.icon-ion-ios-box-outline:before                { content: '\e923'; }
.icon-ion-ios-box:before                        { content: '\e924'; }
.icon-ion-ios-briefcase-outline:before          { content: '\e925'; }
.icon-ion-ios-briefcase:before                  { content: '\e926'; }
.icon-ion-ios-browsers-outline:before           { content: '\e927'; }
.icon-ion-ios-browsers:before                   { content: '\e928'; }
.icon-ion-ios-calculator-outline:before         { content: '\e929'; }
.icon-ion-ios-calculator:before                 { content: '\e92a'; }
.icon-ion-ios-calendar-outline:before           { content: '\e92b'; }
.icon-ion-ios-calendar:before                   { content: '\e92c'; }
.icon-ion-ios-camera-outline:before             { content: '\e92d'; }
.icon-ion-ios-camera:before                     { content: '\e92e'; }
.icon-ion-ios-cart-outline:before               { content: '\e92f'; }
.icon-ion-ios-cart:before                       { content: '\e930'; }
.icon-ion-ios-chatboxes-outline:before          { content: '\e931'; }
.icon-ion-ios-chatboxes:before                  { content: '\e932'; }
.icon-ion-ios-chatbubble-outline:before         { content: '\e933'; }
.icon-ion-ios-chatbubble:before                 { content: '\e934'; }
.icon-ion-ios-checkmark-empty:before            { content: '\e935'; }
.icon-ion-ios-checkmark-outline:before          { content: '\e936'; }
.icon-ion-ios-checkmark:before                  { content: '\e937'; }
.icon-ion-ios-circle-filled:before              { content: '\e938'; }
.icon-ion-ios-circle-outline:before             { content: '\e939'; }
.icon-ion-ios-clock-outline:before              { content: '\e93a'; }
.icon-ion-ios-clock:before                      { content: '\e93b'; }
.icon-ion-ios-close-empty:before                { content: '\e93c'; }
.icon-ion-ios-close-outline:before              { content: '\e93d'; }
.icon-ion-ios-close:before                      { content: '\e93e'; }
.icon-ion-ios-cloud-download-outline:before     { content: '\e93f'; }
.icon-ion-ios-cloud-download:before             { content: '\e940'; }
.icon-ion-ios-cloud-outline:before              { content: '\e941'; }
.icon-ion-ios-cloud-upload-outline:before       { content: '\e942'; }
.icon-ion-ios-cloud-upload:before               { content: '\e943'; }
.icon-ion-ios-cloud:before                      { content: '\e944'; }
.icon-ion-ios-cloudy-night-outline:before       { content: '\e945'; }
.icon-ion-ios-cloudy-night:before               { content: '\e946'; }
.icon-ion-ios-cloudy-outline:before             { content: '\e947'; }
.icon-ion-ios-cloudy:before                     { content: '\e948'; }
.icon-ion-ios-cog-outline:before                { content: '\e949'; }
.icon-ion-ios-cog:before                        { content: '\e94a'; }
.icon-ion-ios-color-filter-outline:before       { content: '\e94b'; }
.icon-ion-ios-color-filter:before               { content: '\e94c'; }
.icon-ion-ios-color-wand-outline:before         { content: '\e94d'; }
.icon-ion-ios-color-wand:before                 { content: '\e94e'; }
.icon-ion-ios-compose-outline:before            { content: '\e94f'; }
.icon-ion-ios-compose:before                    { content: '\e950'; }
.icon-ion-ios-contact-outline:before            { content: '\e951'; }
.icon-ion-ios-contact:before                    { content: '\e952'; }
.icon-ion-ios-copy-outline:before               { content: '\e953'; }
.icon-ion-ios-copy:before                       { content: '\e954'; }
.icon-ion-ios-crop-strong:before                { content: '\e955'; }
.icon-ion-ios-crop:before                       { content: '\e956'; }
.icon-ion-ios-download-outline:before           { content: '\e957'; }
.icon-ion-ios-download:before                   { content: '\e958'; }
.icon-ion-ios-drag:before                       { content: '\e959'; }
.icon-ion-ios-email-outline:before              { content: '\e95a'; }
.icon-ion-ios-email:before                      { content: '\e95b'; }
.icon-ion-ios-eye-outline:before                { content: '\e95c'; }
.icon-ion-ios-eye:before                        { content: '\e95d'; }
.icon-ion-ios-fastforward-outline:before        { content: '\e95e'; }
.icon-ion-ios-fastforward:before                { content: '\e95f'; }
.icon-ion-ios-filing-outline:before             { content: '\e960'; }
.icon-ion-ios-filing:before                     { content: '\e961'; }
.icon-ion-ios-film-outline:before               { content: '\e962'; }
.icon-ion-ios-film:before                       { content: '\e963'; }
.icon-ion-ios-flag-outline:before               { content: '\e964'; }
.icon-ion-ios-flag:before                       { content: '\e965'; }
.icon-ion-ios-flame-outline:before              { content: '\e966'; }
.icon-ion-ios-flame:before                      { content: '\e967'; }
.icon-ion-ios-flask-outline:before              { content: '\e968'; }
.icon-ion-ios-flask:before                      { content: '\e969'; }
.icon-ion-ios-flower-outline:before             { content: '\e96a'; }
.icon-ion-ios-flower:before                     { content: '\e96b'; }
.icon-ion-ios-folder-outline:before             { content: '\e96c'; }
.icon-ion-ios-folder:before                     { content: '\e96d'; }
.icon-ion-ios-football-outline:before           { content: '\e96e'; }
.icon-ion-ios-football:before                   { content: '\e96f'; }
.icon-ion-ios-game-controller-a-outline:before  { content: '\e970'; }
.icon-ion-ios-game-controller-a:before          { content: '\e971'; }
.icon-ion-ios-game-controller-b-outline:before  { content: '\e972'; }
.icon-ion-ios-game-controller-b:before          { content: '\e973'; }
.icon-ion-ios-gear-outline:before               { content: '\e974'; }
.icon-ion-ios-gear:before                       { content: '\e975'; }
.icon-ion-ios-glasses-outline:before            { content: '\e976'; }
.icon-ion-ios-glasses:before                    { content: '\e977'; }
.icon-ion-ios-grid-view-outline:before          { content: '\e978'; }
.icon-ion-ios-grid-view:before                  { content: '\e979'; }
.icon-ion-ios-heart-outline:before              { content: '\e97a'; }
.icon-ion-ios-heart:before                      { content: '\e97b'; }
.icon-ion-ios-help-empty:before                 { content: '\e97c'; }
.icon-ion-ios-help-outline:before               { content: '\e97d'; }
.icon-ion-ios-help:before                       { content: '\e97e'; }
.icon-ion-ios-home-outline:before               { content: '\e97f'; }
.icon-ion-ios-home:before                       { content: '\e980'; }
.icon-ion-ios-infinite-outline:before           { content: '\e981'; }
.icon-ion-ios-infinite:before                   { content: '\e982'; }
.icon-ion-ios-information-empty:before          { content: '\e983'; }
.icon-ion-ios-information-outline:before        { content: '\e984'; }
.icon-ion-ios-information:before                { content: '\e985'; }
.icon-ion-ios-ionic-outline:before              { content: '\e986'; }
.icon-ion-ios-keypad-outline:before             { content: '\e987'; }
.icon-ion-ios-keypad:before                     { content: '\e988'; }
.icon-ion-ios-lightbulb-outline:before          { content: '\e989'; }
.icon-ion-ios-lightbulb:before                  { content: '\e98a'; }
.icon-ion-ios-list-outline:before               { content: '\e98b'; }
.icon-ion-ios-list:before                       { content: '\e98c'; }
.icon-ion-ios-location-outline:before           { content: '\e98d'; }
.icon-ion-ios-location:before                   { content: '\e98e'; }
.icon-ion-ios-locked-outline:before             { content: '\e98f'; }
.icon-ion-ios-locked:before                     { content: '\e990'; }
.icon-ion-ios-loop-strong:before                { content: '\e991'; }
.icon-ion-ios-loop:before                       { content: '\e992'; }
.icon-ion-ios-medical-outline:before            { content: '\e993'; }
.icon-ion-ios-medical:before                    { content: '\e994'; }
.icon-ion-ios-medkit-outline:before             { content: '\e995'; }
.icon-ion-ios-medkit:before                     { content: '\e996'; }
.icon-ion-ios-mic-off:before                    { content: '\e997'; }
.icon-ion-ios-mic-outline:before                { content: '\e998'; }
.icon-ion-ios-mic:before                        { content: '\e999'; }
.icon-ion-ios-minus-empty:before                { content: '\e99a'; }
.icon-ion-ios-minus-outline:before              { content: '\e99b'; }
.icon-ion-ios-minus:before                      { content: '\e99c'; }
.icon-ion-ios-monitor-outline:before            { content: '\e99d'; }
.icon-ion-ios-monitor:before                    { content: '\e99e'; }
.icon-ion-ios-moon-outline:before               { content: '\e99f'; }
.icon-ion-ios-moon:before                       { content: '\e9a0'; }
.icon-ion-ios-more-outline:before               { content: '\e9a1'; }
.icon-ion-ios-more:before                       { content: '\e9a2'; }
.icon-ion-ios-musical-note:before               { content: '\e9a3'; }
.icon-ion-ios-musical-notes:before              { content: '\e9a4'; }
.icon-ion-ios-navigate-outline:before           { content: '\e9a5'; }
.icon-ion-ios-navigate:before                   { content: '\e9a6'; }
.icon-ion-ios-nutrition-outline:before          { content: '\e9a7'; }
.icon-ion-ios-nutrition:before                  { content: '\e9a8'; }
.icon-ion-ios-paper-outline:before              { content: '\e9a9'; }
.icon-ion-ios-paper:before                      { content: '\e9aa'; }
.icon-ion-ios-paperplane-outline:before         { content: '\e9ab'; }
.icon-ion-ios-paperplane:before                 { content: '\e9ac'; }
.icon-ion-ios-partlysunny-outline:before        { content: '\e9ad'; }
.icon-ion-ios-partlysunny:before                { content: '\e9ae'; }
.icon-ion-ios-pause-outline:before              { content: '\e9af'; }
.icon-ion-ios-pause:before                      { content: '\e9b0'; }
.icon-ion-ios-paw-outline:before                { content: '\e9b1'; }
.icon-ion-ios-paw:before                        { content: '\e9b2'; }
.icon-ion-ios-people-outline:before             { content: '\e9b3'; }
.icon-ion-ios-people:before                     { content: '\e9b4'; }
.icon-ion-ios-person-outline:before             { content: '\e9b5'; }
.icon-ion-ios-person:before                     { content: '\e9b6'; }
.icon-ion-ios-personadd-outline:before          { content: '\e9b7'; }
.icon-ion-ios-personadd:before                  { content: '\e9b8'; }
.icon-ion-ios-photos-outline:before             { content: '\e9b9'; }
.icon-ion-ios-photos:before                     { content: '\e9ba'; }
.icon-ion-ios-pie-outline:before                { content: '\e9bb'; }
.icon-ion-ios-pie:before                        { content: '\e9bc'; }
.icon-ion-ios-pint-outline:before               { content: '\e9bd'; }
.icon-ion-ios-pint:before                       { content: '\e9be'; }
.icon-ion-ios-play-outline:before               { content: '\e9bf'; }
.icon-ion-ios-play:before                       { content: '\e9c0'; }
.icon-ion-ios-plus-empty:before                 { content: '\e9c1'; }
.icon-ion-ios-plus-outline:before               { content: '\e9c2'; }
.icon-ion-ios-plus:before                       { content: '\e9c3'; }
.icon-ion-ios-pricetag-outline:before           { content: '\e9c4'; }
.icon-ion-ios-pricetag:before                   { content: '\e9c5'; }
.icon-ion-ios-pricetags-outline:before          { content: '\e9c6'; }
.icon-ion-ios-pricetags:before                  { content: '\e9c7'; }
.icon-ion-ios-printer-outline:before            { content: '\e9c8'; }
.icon-ion-ios-printer:before                    { content: '\e9c9'; }
.icon-ion-ios-pulse-strong:before               { content: '\e9ca'; }
.icon-ion-ios-pulse:before                      { content: '\e9cb'; }
.icon-ion-ios-rainy-outline:before              { content: '\e9cc'; }
.icon-ion-ios-rainy:before                      { content: '\e9cd'; }
.icon-ion-ios-recording-outline:before          { content: '\e9ce'; }
.icon-ion-ios-recording:before                  { content: '\e9cf'; }
.icon-ion-ios-redo-outline:before               { content: '\e9d0'; }
.icon-ion-ios-redo:before                       { content: '\e9d1'; }
.icon-ion-ios-refresh-empty:before              { content: '\e9d2'; }
.icon-ion-ios-refresh-outline:before            { content: '\e9d3'; }
.icon-ion-ios-refresh:before                    { content: '\e9d4'; }
.icon-ion-ios-reload:before                     { content: '\e9d5'; }
.icon-ion-ios-reverse-camera-outline:before     { content: '\e9d6'; }
.icon-ion-ios-reverse-camera:before             { content: '\e9d7'; }
.icon-ion-ios-rewind-outline:before             { content: '\e9d8'; }
.icon-ion-ios-rewind:before                     { content: '\e9d9'; }
.icon-ion-ios-rose-outline:before               { content: '\e9da'; }
.icon-ion-ios-rose:before                       { content: '\e9db'; }
.icon-ion-ios-search-strong:before              { content: '\e9dc'; }
.icon-ion-ios-search:before                     { content: '\e9dd'; }
.icon-ion-ios-settings-strong:before            { content: '\e9de'; }
.icon-ion-ios-settings:before                   { content: '\e9df'; }
.icon-ion-ios-shuffle-strong:before             { content: '\e9e0'; }
.icon-ion-ios-shuffle:before                    { content: '\e9e1'; }
.icon-ion-ios-skipbackward-outline:before       { content: '\e9e2'; }
.icon-ion-ios-skipbackward:before               { content: '\e9e3'; }
.icon-ion-ios-skipforward-outline:before        { content: '\e9e4'; }
.icon-ion-ios-skipforward:before                { content: '\e9e5'; }
.icon-ion-ios-snowy:before                      { content: '\e9e6'; }
.icon-ion-ios-speedometer-outline:before        { content: '\e9e7'; }
.icon-ion-ios-speedometer:before                { content: '\e9e8'; }
.icon-ion-ios-star-half:before                  { content: '\e9e9'; }
.icon-ion-ios-star-outline:before               { content: '\e9ea'; }
.icon-ion-ios-star:before                       { content: '\e9eb'; }
.icon-ion-ios-stopwatch-outline:before          { content: '\e9ec'; }
.icon-ion-ios-stopwatch:before                  { content: '\e9ed'; }
.icon-ion-ios-sunny-outline:before              { content: '\e9ee'; }
.icon-ion-ios-sunny:before                      { content: '\e9ef'; }
.icon-ion-ios-telephone-outline:before          { content: '\e9f0'; }
.icon-ion-ios-telephone:before                  { content: '\e9f1'; }
.icon-ion-ios-tennisball-outline:before         { content: '\e9f2'; }
.icon-ion-ios-tennisball:before                 { content: '\e9f3'; }
.icon-ion-ios-thunderstorm-outline:before       { content: '\e9f4'; }
.icon-ion-ios-thunderstorm:before               { content: '\e9f5'; }
.icon-ion-ios-time-outline:before               { content: '\e9f6'; }
.icon-ion-ios-time:before                       { content: '\e9f7'; }
.icon-ion-ios-timer-outline:before              { content: '\e9f8'; }
.icon-ion-ios-timer:before                      { content: '\e9f9'; }
.icon-ion-ios-toggle-outline:before             { content: '\e9fa'; }
.icon-ion-ios-toggle:before                     { content: '\e9fb'; }
.icon-ion-ios-trash-outline:before              { content: '\e9fc'; }
.icon-ion-ios-trash:before                      { content: '\e9fd'; }
.icon-ion-ios-undo-outline:before               { content: '\e9fe'; }
.icon-ion-ios-undo:before                       { content: '\e9ff'; }
.icon-ion-ios-unlocked-outline:before           { content: '\ea00'; }
.icon-ion-ios-unlocked:before                   { content: '\ea01'; }
.icon-ion-ios-upload-outline:before             { content: '\ea02'; }
.icon-ion-ios-upload:before                     { content: '\ea03'; }
.icon-ion-ios-videocam-outline:before           { content: '\ea04'; }
.icon-ion-ios-videocam:before                   { content: '\ea05'; }
.icon-ion-ios-volume-high:before                { content: '\ea06'; }
.icon-ion-ios-volume-low:before                 { content: '\ea07'; }
.icon-ion-ios-wineglass-outline:before          { content: '\ea08'; }
.icon-ion-ios-wineglass:before                  { content: '\ea09'; }
.icon-ion-ios-world-outline:before              { content: '\ea0a'; }
.icon-ion-ios-world:before                      { content: '\ea0b'; }
.icon-ion-ipad:before                           { content: '\ea0c'; }
.icon-ion-iphone:before                         { content: '\ea0d'; }
.icon-ion-ipod:before                           { content: '\ea0e'; }
.icon-ion-jet:before                            { content: '\ea0f'; }
.icon-ion-key:before                            { content: '\ea10'; }
.icon-ion-knife:before                          { content: '\ea11'; }
.icon-ion-laptop:before                         { content: '\ea12'; }
.icon-ion-leaf:before                           { content: '\ea13'; }
.icon-ion-levels:before                         { content: '\ea14'; }
.icon-ion-lightbulb:before                      { content: '\ea15'; }
.icon-ion-link:before                           { content: '\ea16'; }
.icon-ion-load-a:before                         { content: '\ea17'; }
.icon-ion-load-b:before                         { content: '\ea18'; }
.icon-ion-load-c:before                         { content: '\ea19'; }
.icon-ion-load-d:before                         { content: '\ea1a'; }
.icon-ion-location:before                       { content: '\ea1b'; }
.icon-ion-lock-combination:before               { content: '\ea1c'; }
.icon-ion-locked:before                         { content: '\ea1d'; }
.icon-ion-log-in:before                         { content: '\ea1e'; }
.icon-ion-log-out:before                        { content: '\ea1f'; }
.icon-ion-loop:before                           { content: '\ea20'; }
.icon-ion-magnet:before                         { content: '\ea21'; }
.icon-ion-male:before                           { content: '\ea22'; }
.icon-ion-man:before                            { content: '\ea23'; }
.icon-ion-map:before                            { content: '\ea24'; }
.icon-ion-medkit:before                         { content: '\ea25'; }
.icon-ion-merge:before                          { content: '\ea26'; }
.icon-ion-mic-a:before                          { content: '\ea27'; }
.icon-ion-mic-b:before                          { content: '\ea28'; }
.icon-ion-mic-c:before                          { content: '\ea29'; }
.icon-ion-minus-circled:before                  { content: '\ea2a'; }
.icon-ion-minus-round:before                    { content: '\ea2b'; }
.icon-ion-minus:before                          { content: '\ea2c'; }
.icon-ion-model-s:before                        { content: '\ea2d'; }
.icon-ion-monitor:before                        { content: '\ea2e'; }
.icon-ion-more:before                           { content: '\ea2f'; }
.icon-ion-mouse:before                          { content: '\ea30'; }
.icon-ion-music-note:before                     { content: '\ea31'; }
.icon-ion-navicon-round:before                  { content: '\ea32'; }
.icon-ion-navicon:before                        { content: '\ea33'; }
.icon-ion-navigate:before                       { content: '\ea34'; }
.icon-ion-network:before                        { content: '\ea35'; }
.icon-ion-no-smoking:before                     { content: '\ea36'; }
.icon-ion-nuclear:before                        { content: '\ea37'; }
.icon-ion-outlet:before                         { content: '\ea38'; }
.icon-ion-paintbrush:before                     { content: '\ea39'; }
.icon-ion-paintbucket:before                    { content: '\ea3a'; }
.icon-ion-paper-airplane:before                 { content: '\ea3b'; }
.icon-ion-paperclip:before                      { content: '\ea3c'; }
.icon-ion-pause:before                          { content: '\ea3d'; }
.icon-ion-person-add:before                     { content: '\ea3e'; }
.icon-ion-person-stalker:before                 { content: '\ea3f'; }
.icon-ion-person:before                         { content: '\ea40'; }
.icon-ion-pie-graph:before                      { content: '\ea41'; }
.icon-ion-pin:before                            { content: '\ea42'; }
.icon-ion-pinpoint:before                       { content: '\ea43'; }
.icon-ion-pizza:before                          { content: '\ea44'; }
.icon-ion-plane:before                          { content: '\ea45'; }
.icon-ion-planet:before                         { content: '\ea46'; }
.icon-ion-play:before                           { content: '\ea47'; }
.icon-ion-playstation:before                    { content: '\ea48'; }
.icon-ion-plus-circled:before                   { content: '\ea49'; }
.icon-ion-plus-round:before                     { content: '\ea4a'; }
.icon-ion-plus:before                           { content: '\ea4b'; }
.icon-ion-podium:before                         { content: '\ea4c'; }
.icon-ion-pound:before                          { content: '\ea4d'; }
.icon-ion-power:before                          { content: '\ea4e'; }
.icon-ion-pricetag:before                       { content: '\ea4f'; }
.icon-ion-pricetags:before                      { content: '\ea50'; }
.icon-ion-printer:before                        { content: '\ea51'; }
.icon-ion-pull-request:before                   { content: '\ea52'; }
.icon-ion-qr-scanner:before                     { content: '\ea53'; }
.icon-ion-quote:before                          { content: '\ea54'; }
.icon-ion-radio-waves:before                    { content: '\ea55'; }
.icon-ion-record:before                         { content: '\ea56'; }
.icon-ion-refresh:before                        { content: '\ea57'; }
.icon-ion-reply-all:before                      { content: '\ea58'; }
.icon-ion-reply:before                          { content: '\ea59'; }
.icon-ion-ribbon-a:before                       { content: '\ea5a'; }
.icon-ion-ribbon-b:before                       { content: '\ea5b'; }
.icon-ion-sad-outline:before                    { content: '\ea5c'; }
.icon-ion-sad:before                            { content: '\ea5d'; }
.icon-ion-scissors:before                       { content: '\ea5e'; }
.icon-ion-search:before                         { content: '\ea5f'; }
.icon-ion-settings:before                       { content: '\ea60'; }
.icon-ion-share:before                          { content: '\ea61'; }
.icon-ion-shuffle:before                        { content: '\ea62'; }
.icon-ion-skip-backward:before                  { content: '\ea63'; }
.icon-ion-skip-forward:before                   { content: '\ea64'; }
.icon-ion-social-android-outline:before         { content: '\ea65'; }
.icon-ion-social-android:before                 { content: '\ea66'; }
.icon-ion-social-angular-outline:before         { content: '\ea67'; }
.icon-ion-social-angular:before                 { content: '\ea68'; }
.icon-ion-social-apple-outline:before           { content: '\ea69'; }
.icon-ion-social-apple:before                   { content: '\ea6a'; }
.icon-ion-social-bitcoin-outline:before         { content: '\ea6b'; }
.icon-ion-social-bitcoin:before                 { content: '\ea6c'; }
.icon-ion-social-buffer-outline:before          { content: '\ea6d'; }
.icon-ion-social-buffer:before                  { content: '\ea6e'; }
.icon-ion-social-chrome-outline:before          { content: '\ea6f'; }
.icon-ion-social-chrome:before                  { content: '\ea70'; }
.icon-ion-social-codepen-outline:before         { content: '\ea71'; }
.icon-ion-social-codepen:before                 { content: '\ea72'; }
.icon-ion-social-css3-outline:before            { content: '\ea73'; }
.icon-ion-social-css3:before                    { content: '\ea74'; }
.icon-ion-social-designernews-outline:before    { content: '\ea75'; }
.icon-ion-social-designernews:before            { content: '\ea76'; }
.icon-ion-social-dribbble-outline:before        { content: '\ea77'; }
.icon-ion-social-dribbble:before                { content: '\ea78'; }
.icon-ion-social-dropbox-outline:before         { content: '\ea79'; }
.icon-ion-social-dropbox:before                 { content: '\ea7a'; }
.icon-ion-social-euro-outline:before            { content: '\ea7b'; }
.icon-ion-social-euro:before                    { content: '\ea7c'; }
.icon-ion-social-facebook-outline:before        { content: '\ea7d'; }
.icon-ion-social-facebook:before                { content: '\ea7e'; }
.icon-ion-social-foursquare-outline:before      { content: '\ea7f'; }
.icon-ion-social-foursquare:before              { content: '\ea80'; }
.icon-ion-social-freebsd-devil:before           { content: '\ea81'; }
.icon-ion-social-github-outline:before          { content: '\ea82'; }
.icon-ion-social-github:before                  { content: '\ea83'; }
.icon-ion-social-google-outline:before          { content: '\ea84'; }
.icon-ion-social-google:before                  { content: '\ea85'; }
.icon-ion-social-googleplus-outline:before      { content: '\ea86'; }
.icon-ion-social-googleplus:before              { content: '\ea87'; }
.icon-ion-social-hackernews-outline:before      { content: '\ea88'; }
.icon-ion-social-hackernews:before              { content: '\ea89'; }
.icon-ion-social-html5-outline:before           { content: '\ea8a'; }
.icon-ion-social-html5:before                   { content: '\ea8b'; }
.icon-ion-social-instagram-outline:before       { content: '\ea8c'; }
.icon-ion-social-instagram:before               { content: '\ea8d'; }
.icon-ion-social-javascript-outline:before      { content: '\ea8e'; }
.icon-ion-social-javascript:before              { content: '\ea8f'; }
.icon-ion-social-linkedin-outline:before        { content: '\ea90'; }
.icon-ion-social-linkedin:before                { content: '\ea91'; }
.icon-ion-social-markdown:before                { content: '\ea92'; }
.icon-ion-social-nodejs:before                  { content: '\ea93'; }
.icon-ion-social-octocat:before                 { content: '\ea94'; }
.icon-ion-social-pinterest-outline:before       { content: '\ea95'; }
.icon-ion-social-pinterest:before               { content: '\ea96'; }
.icon-ion-social-python:before                  { content: '\ea97'; }
.icon-ion-social-reddit-outline:before          { content: '\ea98'; }
.icon-ion-social-reddit:before                  { content: '\ea99'; }
.icon-ion-social-rss-outline:before             { content: '\ea9a'; }
.icon-ion-social-rss:before                     { content: '\ea9b'; }
.icon-ion-social-sass:before                    { content: '\ea9c'; }
.icon-ion-social-skype-outline:before           { content: '\ea9d'; }
.icon-ion-social-skype:before                   { content: '\ea9e'; }
.icon-ion-social-snapchat-outline:before        { content: '\ea9f'; }
.icon-ion-social-snapchat:before                { content: '\eaa0'; }
.icon-ion-social-tumblr-outline:before          { content: '\eaa1'; }
.icon-ion-social-tumblr:before                  { content: '\eaa2'; }
.icon-ion-social-tux:before                     { content: '\eaa3'; }
.icon-ion-social-twitch-outline:before          { content: '\eaa4'; }
.icon-ion-social-twitch:before                  { content: '\eaa5'; }
.icon-ion-social-twitter-outline:before         { content: '\eaa6'; }
.icon-ion-social-twitter:before                 { content: '\eaa7'; }
.icon-ion-social-usd-outline:before             { content: '\eaa8'; }
.icon-ion-social-usd:before                     { content: '\eaa9'; }
.icon-ion-social-vimeo-outline:before           { content: '\eaaa'; }
.icon-ion-social-vimeo:before                   { content: '\eaab'; }
.icon-ion-social-whatsapp-outline:before        { content: '\eaac'; }
.icon-ion-social-whatsapp:before                { content: '\eaad'; }
.icon-ion-social-windows-outline:before         { content: '\eaae'; }
.icon-ion-social-windows:before                 { content: '\eaaf'; }
.icon-ion-social-wordpress-outline:before       { content: '\eab0'; }
.icon-ion-social-wordpress:before               { content: '\eab1'; }
.icon-ion-social-yahoo-outline:before           { content: '\eab2'; }
.icon-ion-social-yahoo:before                   { content: '\eab3'; }
.icon-ion-social-yen-outline:before             { content: '\eab4'; }
.icon-ion-social-yen:before                     { content: '\eab5'; }
.icon-ion-social-youtube-outline:before         { content: '\eab6'; }
.icon-ion-social-youtube:before                 { content: '\eab7'; }
.icon-ion-soup-can-outline:before               { content: '\eab8'; }
.icon-ion-soup-can:before                       { content: '\eab9'; }
.icon-ion-speakerphone:before                   { content: '\eaba'; }
.icon-ion-speedometer:before                    { content: '\eabb'; }
.icon-ion-spoon:before                          { content: '\eabc'; }
.icon-ion-star:before                           { content: '\eabd'; }
.icon-ion-stats-bars:before                     { content: '\eabe'; }
.icon-ion-steam:before                          { content: '\eabf'; }
.icon-ion-stop:before                           { content: '\eac0'; }
.icon-ion-thermometer:before                    { content: '\eac1'; }
.icon-ion-thumbsdown:before                     { content: '\eac2'; }
.icon-ion-thumbsup:before                       { content: '\eac3'; }
.icon-ion-toggle-filled:before                  { content: '\eac4'; }
.icon-ion-toggle:before                         { content: '\eac5'; }
.icon-ion-transgender:before                    { content: '\eac6'; }
.icon-ion-trash-a:before                        { content: '\eac7'; }
.icon-ion-trash-b:before                        { content: '\eac8'; }
.icon-ion-trophy:before                         { content: '\eac9'; }
.icon-ion-tshirt-outline:before                 { content: '\eaca'; }
.icon-ion-tshirt:before                         { content: '\eacb'; }
.icon-ion-umbrella:before                       { content: '\eacc'; }
.icon-ion-university:before                     { content: '\eacd'; }
.icon-ion-unlocked:before                       { content: '\eace'; }
.icon-ion-upload:before                         { content: '\eacf'; }
.icon-ion-usb:before                            { content: '\ead0'; }
.icon-ion-videocamera:before                    { content: '\ead1'; }
.icon-ion-volume-high:before                    { content: '\ead2'; }
.icon-ion-volume-low:before                     { content: '\ead3'; }
.icon-ion-volume-medium:before                  { content: '\ead4'; }
.icon-ion-volume-mute:before                    { content: '\ead5'; }
.icon-ion-wand:before                           { content: '\ead6'; }
.icon-ion-waterdrop:before                      { content: '\ead7'; }
.icon-ion-wifi:before                           { content: '\ead8'; }
.icon-ion-wineglass:before                      { content: '\ead9'; }
.icon-ion-woman:before                          { content: '\eada'; }
.icon-ion-wrench:before                         { content: '\eadb'; }
.icon-ion-xbox:before                           { content: '\eadc'; }
