/* FILE: custom-styles.scss */
/* FILE: main/custom-styles/_main.scss */
/* FILE: main/custom-styles/__extenders.scss */
.button, button, input[type="button"], input[type="reset"], input[type="submit"], .site .fl-builder-content .fl-module .button, .site .fl-builder-content .fl-module button, .site .fl-builder-content .fl-module input[type="button"], .site .fl-builder-content .fl-module input[type="reset"], .site .fl-builder-content .fl-module input[type="submit"], .main-navigation-container .button > a, .menu-toggle, .wm-content-module .more-link a:hover, .wm-content-module .more-link a:focus, .wm-content-module .more-link a:active, mark, .highlight, .pagination .current, .bypostauthor > .comment-body .comment-author::before, .widget_calendar tbody a, .widget .tagcloud a:hover, .widget .tagcloud a:focus, .widget .tagcloud a:active, .set-colors-accent, .set-colors-accent > .fl-row-content-wrap, .set-colors-accent > .fl-col-content, .hover-color-accent.fl-col:hover .fl-col-content, .child-page .more-link:hover, .child-page .more-link:focus, .child-page .more-link:active, .sidebar .wm-subnav li a:hover, .sidebar .wm-subnav li a:focus, .sidebar .wm-subnav li a:active, .sidebar .wm-subnav .current_page_item > a, .sidebar .wm-subnav .current-menu-item > a, .fl-widget .wm-subnav li a:hover, .fl-widget .wm-subnav li a:focus, .fl-widget .wm-subnav li a:active, .fl-widget .wm-subnav .current_page_item > a, .fl-widget .wm-subnav .current-menu-item > a, .sidebar .widget_nav_menu li a:hover, .sidebar .widget_nav_menu li a:focus, .sidebar .widget_nav_menu li a:active, .sidebar .widget_nav_menu .current_page_item > a, .sidebar .widget_nav_menu .current-menu-item > a, .fl-widget .widget_nav_menu li a:hover, .fl-widget .widget_nav_menu li a:focus, .fl-widget .widget_nav_menu li a:active, .fl-widget .widget_nav_menu .current_page_item > a, .fl-widget .widget_nav_menu .current-menu-item > a, .site #infinite-handle span, .posts .type-wm_staff .taxonomy, .simple-layout .type-wm_projects .entry-header, .wm-tab-links .active a, .wm-tab-links .is-active a, .wm-tab-links a:hover, .wm-tour-nav, .wm-filter .active a, .wm-filter .is-active a, .fl-builder-content .wm-filter .active a, .fl-builder-content .wm-filter .is-active a { /*[*/ background-color: #9d693f; color: #fff; /*]*/ /*// background-color: [[color_accent]]; color: [[color_accent_text]]; //*/ }

.site-content div.sharedaddy .sd-content ul li a.sd-button:not(.no-text) { /*[*/ background-color: #9d693f; /*]*/ /*// background-color: [[color_accent]]; //*/ }

a, .accent-color, .wm-iconbox-module .image { /*[*/ color: #9d693f; /*]*/ /*// color: [[color_accent]]; //*/ }

.form-button-simple .button:not(:hover):not(:focus):not(:active), .form-button-simple button:not(:hover):not(:focus):not(:active), .form-button-simple input[type="button"]:not(:hover):not(:focus):not(:active), .form-button-simple input[type="reset"]:not(:hover):not(:focus):not(:active), .form-button-simple input[type="submit"]:not(:hover):not(:focus):not(:active), .button.color-simple:not(:hover):not(:focus):not(:active) { text-shadow: none; background: transparent; color: inherit; border-color: currentColor; }

.site-header-content, .site-header-placeholder, .set-colors-header, .set-colors-header > .fl-row-content-wrap, .set-colors-header > .fl-col-content, .no-intro .site-content .breadcrumbs-container { /*[*/ background-color: #232323; color: #e3e3e3; border-color: rgba(227, 227, 227, 0.4); /*]*/ /*// background-color: [[color_header_background]]; color: [[color_header_text]]; border-color: [[color_header_text(40)]]; //*/ }

.site, .site-content, .set-colors-content, .set-colors-content > .fl-row-content-wrap, .set-colors-content > .fl-col-content { /*[*/ background-color: #fcfcfc; color: #737373; border-color: rgba(115, 115, 115, 0.4); /*]*/ /*// background-color: [[color_content_background]]; color: [[color_content_text]]; border-color: [[color_content_text(40)]]; //*/ }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .post-navigation, .dropcap-text::first-letter, .single .entry-meta-element { /*[*/ color: #131313; /*]*/ /*// color: [[color_content_headings]]; //*/ }

.site-footer, .set-colors-footer, .set-colors-footer > .fl-row-content-wrap, .set-colors-footer > .fl-col-content { /*[*/ background-color: #232323; color: #a3a3a3; border-color: rgba(163, 163, 163, 0.4); /*]*/ /*// background-color: [[color_footer_background]]; color: [[color_footer_text]]; border-color: [[color_footer_text(40)]]; //*/ }

.site-footer h2, .site-footer h3, .site-footer h4, .site-footer .h1, .site-footer .h2, .site-footer .h3, .site-footer .h4, .set-colors-footer h2, .set-colors-footer h3, .set-colors-footer h4, .set-colors-footer .h1, .set-colors-footer .h2, .set-colors-footer .h3, .set-colors-footer .h4, .set-colors-footer > .fl-row-content-wrap h2, .set-colors-footer > .fl-row-content-wrap h3, .set-colors-footer > .fl-row-content-wrap h4, .set-colors-footer > .fl-row-content-wrap .h1, .set-colors-footer > .fl-row-content-wrap .h2, .set-colors-footer > .fl-row-content-wrap .h3, .set-colors-footer > .fl-row-content-wrap .h4, .set-colors-footer > .fl-col-content h2, .set-colors-footer > .fl-col-content h3, .set-colors-footer > .fl-col-content h4, .set-colors-footer > .fl-col-content .h1, .set-colors-footer > .fl-col-content .h2, .set-colors-footer > .fl-col-content .h3, .set-colors-footer > .fl-col-content .h4, .site-footer a { /*[*/ color: #e3e3e3; /*]*/ /*// color: [[color_footer_headings]]; //*/ }

.footer-area-site-info, .set-colors-credits, .set-colors-credits > .fl-row-content-wrap, .set-colors-credits > .fl-col-content { /*[*/ background-color: #fcfcfc; color: #737373; /*]*/ /*// background-color: [[color_site_info_background]]; color: [[color_site_info_text]]; //*/ }

.header-widgets-container, .set-colors-header-widgets, .set-colors-header-widgets > .fl-row-content-wrap, .set-colors-header-widgets > .fl-col-content { /*[*/ background-color: #373737; color: #a3a3a3; border-color: rgba(163, 163, 163, 0.4); /*]*/ /*// background-color: [[color_header_widgets_background]]; color: [[color_header_widgets_text]]; border-color: [[color_header_widgets_text(40)]]; //*/ }

.footer-area-footer-secondary-widgets, .set-colors-footer-secondary-widgets, .set-colors-footer-secondary-widgets > .fl-row-content-wrap, .set-colors-footer-secondary-widgets > .fl-col-content { /*[*/ background-color: #9d693f; color: #fff; border-color: rgba(255, 255, 255, 0.4); /*]*/ /*// background-color: [[color_footer_secondary_background]]; color: [[color_footer_secondary_text]]; border-color: [[color_footer_secondary_text(40)]]; //*/ }

.footer-area-footer-secondary-widgets h2, .set-colors-footer-secondary-widgets h2, .set-colors-footer-secondary-widgets > .fl-row-content-wrap h2, .set-colors-footer-secondary-widgets > .fl-col-content h2, .footer-area-footer-secondary-widgets h3, .set-colors-footer-secondary-widgets h3, .set-colors-footer-secondary-widgets > .fl-row-content-wrap h3, .set-colors-footer-secondary-widgets > .fl-col-content h3, .footer-area-footer-secondary-widgets h4, .set-colors-footer-secondary-widgets h4, .set-colors-footer-secondary-widgets > .fl-row-content-wrap h4, .set-colors-footer-secondary-widgets > .fl-col-content h4, .footer-area-footer-secondary-widgets .h1, .set-colors-footer-secondary-widgets .h1, .footer-area-footer-secondary-widgets .h2, .set-colors-footer-secondary-widgets .h2, .footer-area-footer-secondary-widgets .h3, .set-colors-footer-secondary-widgets .h3, .footer-area-footer-secondary-widgets .h4, .set-colors-footer-secondary-widgets .h4, .footer-area-footer-secondary-widgets a, .set-colors-footer-secondary-widgets a, .set-colors-footer-secondary-widgets > .fl-row-content-wrap a, .set-colors-footer-secondary-widgets > .fl-col-content a { /*[*/ color: #fff; /*]*/ /*// color: [[color_footer_secondary_headings]]; //*/ }

/* FILE: main/custom-styles/__base.scss */
body { background-color: #a37852; }

::-webkit-input-placeholder, :disabled::-webkit-input-placeholder { color: inherit !important; }

::-moz-placeholder, :disabled::-moz-placeholder { color: inherit !important; }

:-ms-input-placeholder, :disabled:-ms-input-placeholder { color: inherit !important; }

::placeholder, :disabled::placeholder { color: inherit !important; }

button, input, select, textarea { background-color: rgba(0, 0, 0, 0.05); }

.gallery-caption { background-color: rgba(0, 0, 0, 0.8); color: #fafcfe; }

.color-error, .fl-builder-content .color-error, .fl-builder-content .color-error.wm-button, .fl-builder-content .color-error.wm-button:hover, .hover-color-error.fl-col:hover .fl-col-content { background-color: rgba(238, 0, 0, 0.85); color: #fff; }

.set-colors-error, .set-colors-error > .fl-row-content-wrap, .set-colors-error > .fl-col-content { background-color: rgba(238, 0, 0, 0.85); color: #fff; }

.color-info, .fl-builder-content .color-info, .fl-builder-content .color-info.wm-button, .fl-builder-content .color-info.wm-button:hover, .hover-color-info.fl-col:hover .fl-col-content { background-color: rgba(0, 85, 238, 0.85); color: #fff; }

.set-colors-info, .set-colors-info > .fl-row-content-wrap, .set-colors-info > .fl-col-content { background-color: rgba(0, 85, 238, 0.85); color: #fff; }

.color-success, .fl-builder-content .color-success, .fl-builder-content .color-success.wm-button, .fl-builder-content .color-success.wm-button:hover, .hover-color-success.fl-col:hover .fl-col-content { background-color: rgba(0, 119, 34, 0.85); color: #fff; }

.set-colors-success, .set-colors-success > .fl-row-content-wrap, .set-colors-success > .fl-col-content { background-color: rgba(0, 119, 34, 0.85); color: #fff; }

.color-warning, .fl-builder-content .color-warning, .fl-builder-content .color-warning.wm-button, .fl-builder-content .color-warning.wm-button:hover, .hover-color-warning.fl-col:hover .fl-col-content { background-color: rgba(255, 221, 0, 0.85); color: #310; }

.set-colors-warning, .set-colors-warning > .fl-row-content-wrap, .set-colors-warning > .fl-col-content { background-color: rgba(255, 221, 0, 0.85); color: #310; }

.site .fl-row[class*="set-colors-"], .site .fl-col[class*="set-colors-"] { background: none; }

div[class*="set-colors-"] a, div[class*="set-colors-"] h1, div[class*="set-colors-"] h2, div[class*="set-colors-"] h3, div[class*="set-colors-"] h4, div[class*="set-colors-"] .h1, div[class*="set-colors-"] .h2, div[class*="set-colors-"] .h3, div[class*="set-colors-"] .h4, div[class*="set-colors-"] .dropcap-text::first-letter { color: inherit; }

/* FILE: main/custom-styles/__typography.scss */
/**if(typography_custom_fonts)

	.site .font-body,
	html {
		font-family: [[typography_fonts_text]];
	}

	.site .font-headings,
	.site .font-headings-primary,
	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6,
	.entry-subtitle {
		font-family: [[typography_fonts_headings]];
	}

	.site .font-logo,
	.site .font-headings-secondary,
	h1, .h1,
	.entry-title,
	.page-title,
	.child-page-title,
	h1.display-1, h2.display-1, h3.display-1,
	.display-1.h1, .display-1.h2, .display-1.h3,
	h1.display-2, h2.display-2, h3.display-2,
	.display-2.h1, .display-2.h2, .display-2.h3,
	h1.display-3, h2.display-3, h3.display-3,
	.display-3.h1, .display-3.h2, .display-3.h3,
	h1.display-4, h2.display-4, h3.display-4,
	.display-4.h1, .display-4.h2, .display-4.h3,
	.site-title,
	.wm-content-module .title h2,
	.wm-content-module .title h3 {
		font-family: [[typography_fonts_logo]];
	}

endif(typography_custom_fonts)**/
/* FILE: main/custom-styles/__accent.scss */
mark, .highlight { /*[*/ box-shadow: 0.38em 0 0 #9d693f, -0.38em 0 0 #9d693f; /*]*/ /*// box-shadow:  .38em 0 0 [[color_accent]], -.38em 0 0 [[color_accent]]; //*/ }

@media only screen and (max-width: 41.9375em) { .pagination a { /*[*/ background-color: #9d693f; color: #fff; /*]*/ /*// background-color: [[color_accent]]; color: [[color_accent_text]]; //*/ } }

/* FILE: main/custom-styles/__header.scss */
/* FILE: main/custom-styles/__branding.scss */
.custom-logo, .has-scrolled:not(.no-js) .custom-logo, .fl-builder-edit .custom-logo { /*[*/ max-height: 28px; /*]*/ /*// max-height: [[custom_logo_height]]px; //*/ }

/* FILE: main/custom-styles/__menu.scss */
@media only screen and (min-width: 55em) { .main-navigation-container li ul { /*[*/ background-color: #232323; color: #e3e3e3; /*]*/ /*// background-color: [[color_header_background]]; color: [[color_header_text]]; //*/ } }

@media only screen and (max-width: 54.9375em) { .main-navigation-container { /*[*/ background-color: #232323; color: #e3e3e3; border-color: rgba(227, 227, 227, 0.4); /*]*/ /*// background-color: [[color_header_background]]; color: [[color_header_text]]; border-color: [[color_header_text(40)]]; //*/ } }

/* FILE: main/custom-styles/__intro.scss */
.intro { /*[*/ color: #fff; border-color: rgba(255, 255, 255, 0.4); /*]*/ /*// color: [[color_intro_text]]; border-color: [[color_intro_text(40)]]; //*/ }

.intro:not(.no-text-shadow) { /*[*/ text-shadow: 0 2px 0.62rem #1c1c1c; /*]*/ /*// text-shadow: 0 2px 0.62rem [[color_intro_overlay]]; //*/ }

.intro::before { /*[*/ background: linear-gradient(transparent, #1c1c1c); opacity: 0.9; /*]*/ /*// background: linear-gradient( transparent, [[color_intro_overlay]] ); opacity: [[opacity_intro_overlay]]; //*/ }

.intro-container { /*[*/ background-color: #9d693f; /*]*/ /*// background-color: [[color_intro_background]]; //*/ }

.has-intro-filter .intro-container:not(.no-intro-image) { /*[*/ background-color: #9d693f; /*]*/ /*// background-color: [[color_intro_filter]]; //*/ }

/* FILE: main/custom-styles/__content.scss */
.posts .entry:hover { box-shadow: 0 2px 1.38em rgba(0, 0, 0, 0.2); }

.child-page { /*[*/ background-color: #fcfcfc; /*]*/ /*// background-color: [[color_content_background]]; //*/ }

.child-page:hover { box-shadow: 0 2px 1.38em rgba(0, 0, 0, 0.2); }

/* FILE: main/custom-styles/__footer.scss */
.site-footer mark, .site-footer .highlight, .site-footer .pagination .current, .site-footer .bypostauthor > .comment-body .comment-author::before, .site-footer .widget_calendar tbody a, .site-footer .widget .tagcloud a:hover, .site-footer .widget .tagcloud a:focus, .site-footer .widget .tagcloud a:active, .site-footer .button, .site-footer button, .site-footer input[type="button"], .site-footer input[type="reset"], .site-footer input[type="submit"] { text-shadow: none; /*[*/ background-color: #e3e3e3; color: #232323; /*]*/ /*// background-color: [[color_footer_headings]]; color: [[color_footer_background]]; //*/ }

.site-footer mark, .site-footer .highlight { box-shadow: none; }

/* FILE: main/custom-styles/__site-info.scss */
/* FILE: main/custom-styles/__sidebar.scss */
.intro-widgets-container { /*[*/ color: #a3a3a3; border-color: rgba(163, 163, 163, 0.4); /*]*/ /*// color: [[color_intro_widgets_text]]; border-color: [[color_intro_widgets_text(40)]]; //*/ }

.intro-widgets-container::before { /*[*/ background-color: #232323; /*]*/ /*// background-color: [[color_intro_widgets_background]]; //*/ }

.intro-widgets-container h2, .intro-widgets-container h3, .intro-widgets-container h4, .intro-widgets-container .h1, .intro-widgets-container .h2, .intro-widgets-container .h3, .intro-widgets-container .h4, .intro-widgets-container a { /*[*/ color: #e3e3e3; /*]*/ /*// color: [[color_intro_widgets_headings]]; //*/ }

.sidebar .wm-subnav .current_page_item > a, .sidebar .wm-subnav .current-menu-item > a, .fl-widget .wm-subnav .current_page_item > a, .fl-widget .wm-subnav .current-menu-item > a, .sidebar .widget_nav_menu .current_page_item > a, .sidebar .widget_nav_menu .current-menu-item > a, .fl-widget .widget_nav_menu .current_page_item > a, .fl-widget .widget_nav_menu .current-menu-item > a { box-shadow: inset 0 -10em 3.62674em -10em rgba(0, 0, 0, 0.4), inset 0 0.095em 1em rgba(0, 0, 0, 0.3); }

/* FILE: main/custom-styles/__plugins.scss */
.no-intro .site-content .breadcrumbs-container:not(:hover) .breadcrumbs { opacity: .5; }

.infinite-loader .spinner > div > div { /*[*/ background-color: #9d693f !important; /*]*/ /*// background-color: [[color_accent]] !important; //*/ }

.site-content div.sharedaddy .sd-content ul li a.sd-button:not(.no-text) { /*[*/ color: #fff !important; /*]*/ /*// color: [[color_accent_text]] !important; //*/ }

/* FILE: main/custom-styles/__site-borders.scss */
/**if(layout_site_borders) @media only screen and (min-width: 80em) { .has-site-borders .site-border { padding-top: [[layout_site_borders_width]]%; } .has-site-borders .site-border.left, .has-site-borders .site-border.right { width: [[layout_site_borders_width]]%; } .has-site-borders-around, .has-site-borders-static { padding: [[layout_site_borders_width]]%; } .has-site-borders-on-scroll { padding-bottom: [[layout_site_borders_width]]%; } .has-site-borders-on-scroll .site-border.left, .has-site-borders-on-scroll .site-border.right { margin-left: calc(-1.1 * [[layout_site_borders_width]]%); margin-right: calc(-1.1 * [[layout_site_borders_width]]%); } .has-site-borders-on-scroll .site-border.top, .has-site-borders-on-scroll .site-border.bottom { margin-top: calc(-1.1 * [[layout_site_borders_width]]%); margin-bottom: calc(-1.1 * [[layout_site_borders_width]]%); } .has-site-borders-on-scroll.admin-bar .site-border.top { margin-top: calc(-1.1 * [[layout_site_borders_width]]%); } } @media only screen and (min-width: 80em) and (min-height: 28em) { .has-site-borders-around.has-sticky-header.has-scrolled .site-header { width: calc(100% - [[layout_site_borders_width]]% - [[layout_site_borders_width]]%); } .has-site-borders.has-sticky-header:not(.no-js) .site-header, .has-site-borders-static.has-sticky-header.has-scrolled:not(.no-js) .site-header, .has-site-borders-on-scroll.has-sticky-header.has-scrolled:not(.no-js) .site-header { margin-top: [[layout_site_borders_width]]%; } .has-site-borders.has-sticky-header.admin-bar:not(.no-js) .site-header, .has-site-borders-static.has-sticky-header.has-scrolled.admin-bar:not(.no-js) .site-header, .has-site-borders-on-scroll.has-sticky-header.has-scrolled.admin-bar:not(.no-js) .site-header { margin-top: calc(32px + [[layout_site_borders_width]]%); } .has-site-borders-around.has-sticky-header:not(.has-scrolled) .site-header, .has-site-borders-around.has-sticky-header.admin-bar:not(.has-scrolled) .site-header, .has-site-borders-around.has-sticky-header.has-scrolled .site-header, .has-site-borders-on-scroll.has-sticky-header:not(.no-js) .site-header { margin-top: 0; } .has-site-borders-around.has-sticky-header.has-scrolled.admin-bar .site-header, .has-site-borders-on-scroll.has-sticky-header.admin-bar:not(.no-js) .site-header { margin-top: 32px; } } endif(layout_site_borders)**/
/* FILE: shortcodes/custom-styles/_shortcodes.scss */
/* FILE: shortcodes/custom-styles/__base.scss */
/* FILE: shortcodes/custom-styles/__content-module.scss */
.item-border .wm-content-module-item:hover { box-shadow: 0 2px 1.38em rgba(0, 0, 0, 0.2); }

/* FILE: shortcodes/custom-styles/__message.scss */
.wm-message.color-error, .fl-builder-content .wm-message.color-error.wm-button, .hover-color-error.fl-col:hover .wm-message.fl-col-content, .wm-message.color-info, .fl-builder-content .wm-message.color-info.wm-button, .hover-color-info.fl-col:hover .wm-message.fl-col-content, .wm-message.color-success, .fl-builder-content .wm-message.color-success.wm-button, .hover-color-success.fl-col:hover .wm-message.fl-col-content, .wm-message.color-warning, .fl-builder-content .wm-message.color-warning.wm-button, .hover-color-warning.fl-col:hover .wm-message.fl-col-content { box-shadow: 0 0 0.905em rgba(0, 0, 0, 0.2); }

.wm-message.color-error:hover, .hover-color-error.fl-col:hover .wm-message.fl-col-content:hover, .wm-message.color-info:hover, .hover-color-info.fl-col:hover .wm-message.fl-col-content:hover, .wm-message.color-success:hover, .hover-color-success.fl-col:hover .wm-message.fl-col-content:hover, .wm-message.color-warning:hover, .hover-color-warning.fl-col:hover .wm-message.fl-col-content:hover { box-shadow: 0 0 1.62em rgba(0, 0, 0, 0.2); }

/* FILE: shortcodes/custom-styles/__tabs.scss */
.wm-tab-links .active a, .wm-tab-links .is-active a { box-shadow: inset 0 -10em 3.62674em -10em rgba(0, 0, 0, 0.4), inset 0 0.095em 1em rgba(0, 0, 0, 0.3); }
