@charset "UTF-8";
/* FILE: shortcodes.scss */
/* FILE: shortcodes/__helpers.scss */
.wm-filter ul { margin: 0 0 2.6244rem; list-style: none; }

.wm-filter li { display: inline-block; margin: 0 0.19em; list-style: none; }

.wm-filter li a { text-decoration: none; }

.wm-filter a { display: inline-block; margin: 0.19em 0; padding: 0.19em 1em; text-transform: uppercase; font-size: 0.81em; color: inherit; border-width: 2px; border-style: solid; border-color: currentColor; border-radius: 5em; }

.wm-filter a:hover, .wm-filter .active a, .wm-filter .is-active a { text-decoration: none; border-style: solid; opacity: 1; }

.wm-filter a:hover::before, .wm-filter .active a::before, .wm-filter .is-active a::before { display: none; }

.wm-filter .active a, .wm-filter .is-active a { border-color: transparent; }

.wm-filter .count { display: none; }

.slick-arrow::before, .wm-accordion .wm-item-title::after, .wm-tour-nav .prev a::before, .wm-tour-nav .next a::after, .wm-testimonials blockquote::before { font-family: 'Genericons'; font-style: normal; font-weight: normal; font-variant: normal; text-decoration: inherit; text-transform: none; speak: none; }

.slick-arrow { position: relative; display: inline-block; width: 1em; text-align: left; text-indent: -999em; }

.slick-arrow::before { position: absolute; width: 100%; left: 0; top: 0; text-align: center; text-indent: 0; }

.wm-content-module .title h2, .wm-content-module .title h3, .wm-content-module .title h4 { font-family: 'Playfair Display', Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif; text-rendering: auto; }

.wm-testimonials-item::after { content: ''; clear: both; display: table; table-layout: fixed; }

.wm-accordion .wm-item-title, .simple-layout .type-post .entry-meta, .posts .type-wm_staff .taxonomy + .taxonomy, .wm-tab-links { position: relative; z-index: 1; }

.wm-accordion .wm-item-title::before, .simple-layout .type-post .entry-meta::before, .posts .type-wm_staff .taxonomy + .taxonomy::before, .wm-tab-links::before { content: ''; position: absolute; width: 100%; height: 100%; left: 0; top: 0; background-color: currentColor; border-radius: inherit; opacity: 0.1; z-index: -1; }

/* FILE: shortcodes/__row.scss */
.wm-row { clear: both; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.wm-row + .wm-row { margin-top: 1.62rem; }

.wm-row.no-margin, .wm-items-container .wm-row.no-margin { margin-top: 0; }

/* FILE: shortcodes/__column.scss */
.wm-column { -webkit-flex: 0 1 auto; -ms-flex: 0 1 auto; flex: 0 1 auto; position: relative; width: 100%; padding: 0; margin: 0 0 1.62rem; }

.wm-column.no-margin, .wm-column.last, .wm-row > .wm-column:last-child { margin: 0; }

.width-1-1:not(:first-child) { margin-top: 1.62rem; }

@media only screen and (min-width: 42em) and (max-width: 54.9375em) { .width-1-2 { width: calc( 50% - 0.81rem); margin-right: 1.62rem; }
  .width-1-2.no-margin { width: 50%; }
  .width-1-2:nth-child(2n) { margin-right: 0; }
  .width-1-3 { width: calc( 50% - 0.81rem); margin-right: 1.62rem; }
  .width-1-3.no-margin { width: 50%; }
  .width-1-3:nth-child(2n) { margin-right: 0; }
  .width-1-4 { width: calc( 50% - 0.81rem); margin-right: 1.62rem; }
  .width-1-4.no-margin { width: 50%; }
  .width-1-4:nth-child(2n) { margin-right: 0; }
  .width-1-5 { width: calc( 50% - 0.81rem); margin-right: 1.62rem; }
  .width-1-5.no-margin { width: 50%; }
  .width-1-5:nth-child(2n) { margin-right: 0; }
  .width-1-6 { width: calc( 50% - 0.81rem); margin-right: 1.62rem; }
  .width-1-6.no-margin { width: 50%; }
  .width-1-6:nth-child(2n) { margin-right: 0; } }

@media only screen and (min-width: 55em) and (max-width: 79.9375em) { .width-1-2 { width: calc( 50% - 0.81rem); margin-right: 1.62rem; margin-bottom: 0; }
  .width-1-2.no-margin { width: 50%; }
  .width-1-2:nth-child(2n) { margin-right: 0; }
  .width-1-3 { width: calc( 33.33333% - 1.08rem); margin-right: 1.62rem; margin-bottom: 0; }
  .width-1-3.no-margin { width: 33.33333%; }
  .width-1-3:nth-child(3n) { margin-right: 0; }
  .width-1-4 { width: calc( 33.33333% - 1.08rem); margin-right: 1.62rem; margin-bottom: 0; }
  .width-1-4.no-margin { width: 33.33333%; }
  .width-1-4:nth-child(3n) { margin-right: 0; }
  .width-1-5 { width: calc( 33.33333% - 1.08rem); margin-right: 1.62rem; margin-bottom: 0; }
  .width-1-5.no-margin { width: 33.33333%; }
  .width-1-5:nth-child(3n) { margin-right: 0; }
  .width-1-6 { width: calc( 33.33333% - 1.08rem); margin-right: 1.62rem; margin-bottom: 0; }
  .width-1-6.no-margin { width: 33.33333%; }
  .width-1-6:nth-child(3n) { margin-right: 0; } }

@media only screen and (min-width: 80em) and (max-width: 99.9375em) { .width-1-2 { width: calc( 50% - 0.81rem); margin-right: 1.62rem; margin-bottom: 0; }
  .width-1-2.no-margin { width: 50%; }
  .width-1-2:nth-child(2n) { margin-right: 0; }
  .width-1-3 { width: calc( 33.33333% - 1.08rem); margin-right: 1.62rem; margin-bottom: 0; }
  .width-1-3.no-margin { width: 33.33333%; }
  .width-1-3:nth-child(3n) { margin-right: 0; }
  .width-1-4 { width: calc( 25% - 1.215rem); margin-right: 1.62rem; margin-bottom: 0; }
  .width-1-4.no-margin { width: 25%; }
  .width-1-4:nth-child(4n) { margin-right: 0; }
  .width-1-5 { width: calc( 25% - 1.215rem); margin-right: 1.62rem; margin-bottom: 0; }
  .width-1-5.no-margin { width: 25%; }
  .width-1-5:nth-child(4n) { margin-right: 0; }
  .width-1-6 { width: calc( 25% - 1.215rem); margin-right: 1.62rem; margin-bottom: 0; }
  .width-1-6.no-margin { width: 25%; }
  .width-1-6:nth-child(4n) { margin-right: 0; } }

@media only screen and (min-width: 100em) { .width-1-2 { width: calc( 50% - 0.81rem); margin-right: 1.62rem; margin-bottom: 0; }
  .width-1-2.no-margin { width: 50%; }
  .width-1-2:nth-child(2n) { margin-right: 0; }
  .width-1-3 { width: calc( 33.33333% - 1.08rem); margin-right: 1.62rem; margin-bottom: 0; }
  .width-1-3.no-margin { width: 33.33333%; }
  .width-1-3:nth-child(3n) { margin-right: 0; }
  .width-1-4 { width: calc( 25% - 1.215rem); margin-right: 1.62rem; margin-bottom: 0; }
  .width-1-4.no-margin { width: 25%; }
  .width-1-4:nth-child(4n) { margin-right: 0; }
  .width-1-5 { width: calc( 20% - 1.296rem); margin-right: 1.62rem; margin-bottom: 0; }
  .width-1-5.no-margin { width: 20%; }
  .width-1-5:nth-child(5n) { margin-right: 0; }
  .width-1-6 { width: calc( 16.66667% - 1.35rem); margin-right: 1.62rem; margin-bottom: 0; }
  .width-1-6.no-margin { width: 16.66667%; }
  .width-1-6:nth-child(6n) { margin-right: 0; } }

/* FILE: shortcodes/__item.scss */
.wm-item-title i, .wm-item-title span { margin-right: 0.38em; }

.wm-accordion .wm-item { margin-bottom: 1em; transition: padding 0.3s; }

.wm-accordion .wm-item-title { padding: 1rem 1.62rem; padding-right: 3.62rem; margin: 0; font-size: 1em; font-weight: 700; cursor: pointer; transition: all 0.3s; }

.wm-accordion .wm-item-title::before { transition: background-color 0.3s; }

.wm-accordion .wm-item-title::after { content: '\f510'; display: inline-block; position: absolute; width: calc( 1.62em - 4px); height: calc( 1.62em - 4px); right: 0; top: 50%; margin-right: 1.62rem; line-height: calc( 1.62em - 4px); text-align: center; font-size: 1rem; border-width: 1px; border-style: solid; border-radius: 5em; vertical-align: middle; -webkit-transform: rotate(0deg) translateY(-50%); -ms-transform: rotate(0deg) translateY(-50%); transform: rotate(0deg) translateY(-50%); transition: margin 0.3s, -webkit-transform 0.3s; transition: margin 0.3s, transform 0.3s; transition: margin 0.3s, transform 0.3s, -webkit-transform 0.3s; }

.wm-accordion .wm-item-title i, .wm-accordion .wm-item-title span { margin-right: 1rem; color: inherit; }

.wm-accordion .wm-item-title i::before, .wm-accordion .wm-item-title span::before { margin-top: -0.19em; line-height: 0.62; font-size: 1.62em; vertical-align: middle; }

.wm-accordion .wm-item:not(.active):not(.is-active) { border-width: 1px; border-style: solid; }

.wm-accordion .wm-item:not(.active):not(.is-active) .wm-item-title { color: inherit; }

.wm-accordion .wm-item.active, .wm-accordion .wm-item.is-active { padding-top: 1em; padding-bottom: 1em; }

.wm-accordion .wm-item.active .wm-item-title, .wm-accordion .wm-item.is-active .wm-item-title { padding: 1rem 0 1.62rem; padding-right: 1.62rem; font-size: 1.38em; border-bottom-width: 1px; border-bottom-style: solid; }

.wm-accordion .wm-item.active .wm-item-title::before, .wm-accordion .wm-item.is-active .wm-item-title::before { background-color: transparent; }

.wm-accordion .wm-item.active .wm-item-title::after, .wm-accordion .wm-item.is-active .wm-item-title::after { margin-right: 0; -webkit-transform: rotate(45deg) translateX(-50%) translateY(-50%); -ms-transform: rotate(45deg) translateX(-50%) translateY(-50%); transform: rotate(45deg) translateX(-50%) translateY(-50%); }

.wm-accordion .wm-item-content { padding: 1.62rem 0; }

.wm-tabs .wm-item { margin: 0; }

.layout-top .wm-item, .layout-left .wm-item, .layout-right .wm-item { padding: 2.6244rem 0; }

@media only screen and (min-width: 55em) { .layout-left .wm-item { padding: 0 0 2.6244rem 2.6244rem; }
  .layout-right .wm-item { padding: 0 2.6244rem 2.6244rem 0; } }

/* FILE: shortcodes/__jquery-isotope-masonry.scss */
.filter-this, .masonry-this { margin-bottom: -1.62rem; }

.filter-this.no-margin, .masonry-this.no-margin { margin-bottom: 0; }

@media only screen and (min-width: 42em) { .filter-this.with-margin, .masonry-this.with-margin { width: 102%; width: calc( 100% + 1.62rem); } }

.filter-this.with-margin[data-columns="1"], .masonry-this.with-margin[data-columns="1"] { width: 100%; }

.filter-this.with-margin .wm-column, .masonry-this.with-margin .wm-column { margin-top: 0; margin-bottom: 1.62rem; width: 100%; }

@media only screen and (min-width: 42em) { .filter-this.with-margin .wm-column, .masonry-this.with-margin .wm-column { margin-right: 1.96078%; margin-right: 1.62rem; } }

@media only screen and (min-width: 42em) { .filter-this.with-margin .width-1-2, .filter-this.with-margin .width-1-3, .filter-this.with-margin .width-1-4, .filter-this.with-margin .width-1-5, .filter-this.with-margin .width-1-6, .masonry-this.with-margin .width-1-2, .masonry-this.with-margin .width-1-3, .masonry-this.with-margin .width-1-4, .masonry-this.with-margin .width-1-5, .masonry-this.with-margin .width-1-6 { width: 48%; width: calc( 50% - 1.62rem); } }

@media only screen and (min-width: 55em) { .filter-this.with-margin .width-1-2, .masonry-this.with-margin .width-1-2 { width: 48%; width: calc( 50% - 1.62rem); }
  .filter-this.with-margin .width-1-3, .masonry-this.with-margin .width-1-3 { width: 31.33333%; width: calc( 33.33333% - 1.62rem); }
  .filter-this.with-margin .width-1-4, .masonry-this.with-margin .width-1-4 { width: 23%; width: calc( 25% - 1.62rem); }
  .filter-this.with-margin .width-1-5, .masonry-this.with-margin .width-1-5 { width: 18%; width: calc( 20% - 1.62rem); }
  .filter-this.with-margin .width-1-6, .masonry-this.with-margin .width-1-6 { width: 14.66667%; width: calc( 16.66667% - 1.62rem); } }

/* FILE: shortcodes/__jquery-slick.scss */
.slick-slider { position: relative; display: block; box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }

.slick-list:focus { outline: none; }

.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; }

.slick-track:before, .slick-track:after { content: ""; display: table; }

.slick-track:after { clear: both; }

.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }

[dir="rtl"] .slick-slide { float: right; }

.slick-slide img { display: block; }

.slick-slide.slick-loading img { display: none; }

.slick-slide.dragging img { pointer-events: none; }

.slick-initialized .slick-slide { display: block; }

.slick-loading .slick-slide { visibility: hidden; }

.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-arrow.slick-hidden { display: none; }

/* FILE: shortcodes/__jquery-slick-custom.scss */
.slick-slider:hover .slick-arrow { opacity: 1; }

.slick-list { margin-left: -1.3122rem; margin-right: -1.3122rem; }

.slick-track { display: -webkit-flex; display: -ms-flexbox; display: flex; cursor: e-resize; }

.slick-slide { height: auto; padding-left: 1.3122rem; padding-right: 1.3122rem; }

.slick-slide:focus { outline: 0; }

.slick-slide, .slick-initialized .slick-slide { -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

[data-columns="1"] .slick-slide { -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.slick-slide .wm-column { width: 100%; margin: 0; }

.slick-arrow { position: absolute; width: 2.6244rem; height: 2.6244rem; top: 50%; padding: 0; line-height: 2.6244rem; font-size: 1.38rem; border-width: 0; overflow: hidden; z-index: 29; box-shadow: inset 0 0 0 2px, 0 0.38rem 1.62rem rgba(0, 0, 0, 0.5); }

.slick-arrow::before { height: 100%; }

.slick-prev { left: 0; -webkit-transform: translateX(-25%) translateY(-50%); -ms-transform: translateX(-25%) translateY(-50%); transform: translateX(-25%) translateY(-50%); }

@media only screen and (min-width: 80em) { .slick-prev { -webkit-transform: translateX(-75%) translateY(-50%); -ms-transform: translateX(-75%) translateY(-50%); transform: translateX(-75%) translateY(-50%); } }

.slick-prev::before { content: ""; }

.slick-next { right: 0; -webkit-transform: translateX(25%) translateY(-50%); -ms-transform: translateX(25%) translateY(-50%); transform: translateX(25%) translateY(-50%); }

@media only screen and (min-width: 80em) { .slick-next { -webkit-transform: translateX(75%) translateY(-50%); -ms-transform: translateX(75%) translateY(-50%); transform: translateX(75%) translateY(-50%); } }

.slick-next::before { content: ""; }

/* FILE: shortcodes/_accordion.scss */
.wm-accordion .wm-filter ul { margin-bottom: 1.62rem; }

/* FILE: shortcodes/_button.scss */
.button.fullwidth { width: 100%; }

.button i, .button span { position: relative; bottom: -0.095em; margin-right: 0.38em; line-height: 1; font-size: 1.38em; color: inherit; }

.button.size-small { font-size: 0.62rem; }

.button.size-large { font-size: 1rem; }

.button.size-extra-large { font-size: 1.19rem; }

.fl-module-wm_button.aligncenter { text-align: center; }

/* FILE: shortcodes/_call-to-action.scss */
@media only screen and (min-width: 55em) { .wm-call-to-action { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-align-items: center; -ms-flex-align: center; align-items: center; } }

.wm-call-to-action-element { text-align: center; }

@media only screen and (min-width: 55em) { .wm-call-to-action-element { -webkit-flex: 1 1 6em; -ms-flex: 1 1 6em; flex: 1 1 6em; text-align: inherit; vertical-align: middle; } }

.wm-call-to-action-element h2, .wm-call-to-action-element h3, .wm-call-to-action-element h4 { margin-bottom: 0.62rem; }

.wm-call-to-action-element p { margin: 0; }

.wm-call-to-action-element p + p { margin-top: 1em; }

.wm-call-to-action-button { margin-top: 1.62rem; }

@media only screen and (min-width: 55em) { .wm-call-to-action-button { padding-left: 8%; margin-top: 0; text-align: right; white-space: nowrap; } }

/* FILE: shortcodes/_content-module.scss */
.wm-content-module { text-align: center; }

.inline .wm-content-module, .wm-content-module.inline { text-align: inherit; }

.wm-content-module-item { padding: 0.81rem; }

.item-border .wm-content-module-item { padding: 1.62rem; border-width: 1px; border-style: solid; transition: box-shadow 0.5s; transition-timing-function: cubic-bezier(0.165, 0.975, 0.53, 1.65); }

@media only screen and (min-width: 42em) { .item-border .wm-content-module-item { padding: 2.6244rem; } }

@media only screen and (min-width: 80em) { .item-border .wm-content-module-item { padding: 3.62674rem; } }

.item-border .wm-content-module-item:not(.wm-iconbox-module) .image img { width: calc( 100% + 3.24rem); max-width: none; margin: -1.62rem; margin-bottom: 0; }

@media only screen and (min-width: 42em) { .item-border .wm-content-module-item:not(.wm-iconbox-module) .image img { width: calc( 100% + 5.2488rem); margin: -2.6244rem; margin-bottom: 0; } }

@media only screen and (min-width: 80em) { .item-border .wm-content-module-item:not(.wm-iconbox-module) .image img { width: calc( 100% + 7.25348rem); margin: -3.62674rem; margin-bottom: 0; } }

.wm-content-module .image { margin-bottom: 1rem; line-height: 1; font-size: 3.62674em; }

@media only screen and (min-width: 80em) { .wm-content-module .image { margin-bottom: 1.62rem; } }

@media only screen and (min-width: 80em) { .wm-content-module .image { font-size: 5.0049em; } }

.wm-content-module .title { margin-bottom: 1.38rem; }

.hide-title .wm-content-module .title { display: none; }

.wm-content-module .title h2, .wm-content-module .title h3, .wm-content-module .title h4 { font-size: 1.62em; font-weight: 700; font-style: italic; line-height: 1.38; }

.wm-content-module .title a { text-decoration: none; }

.wm-content-module-element .entry-subtitle { margin-top: 0.38em; font-size: 0.715em; }

.wm-content-module .more-link { margin-top: 1.62em; }

.hide-more-button .wm-content-module .more-link { display: none; }

.wm-content-module .more-link a { display: inline-block; padding: 0.76543em 1.7037em; text-transform: uppercase; font-size: 0.81rem; font-weight: 700; letter-spacing: 0.06333em; border-width: 2px; border-style: solid; border-color: currentColor; border-radius: 5em; transition: text-shadow 0.5s, background 0.5s, color 0.5s, border-color 0.3s, box-shadow 0.3s, opacity 0.3s; }

.wm-content-module .more-link a:hover, .wm-content-module .more-link a:focus, .wm-content-module .more-link a:active { text-decoration: none; box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.26); }

.wm-content-module .more-link a:active { outline: 0; opacity: .9; box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.13); }

.inline .wm-iconbox-module .image { display: inline-block; margin-right: 1.38rem; margin-bottom: 1.62rem; font-size: 2.6244em; vertical-align: top; }

@media only screen and (min-width: 42em) { .inline .wm-iconbox-module .image { margin-left: -1.38rem; } }

@media only screen and (min-width: 55em) { .inline .wm-iconbox-module .image { font-size: 3.62674em; } }

.inline .wm-iconbox-module .title { display: inline-block; max-width: calc( 100% - 2.6244em - 1.38rem); margin-bottom: 1.62rem; }

@media only screen and (min-width: 42em) { .inline .wm-iconbox-module .title { max-width: calc( 100% - 2.6244em); } }

@media only screen and (min-width: 55em) { .inline .wm-iconbox-module .title { max-width: calc( 100% - 3.62674em); } }

.hide-title .wm-iconbox-module .title { display: none; }

.inline.hide-title .wm-iconbox-module .image { margin-left: 0; }

/* FILE: shortcodes/_divider.scss */
.wm-divider.type-dotted, .wm-divider.type-dashed, .wm-divider.type-double-line, .wm-divider.type-whitespace { background: none; }

.wm-divider { height: 0; margin: 2.62807em 0; border-bottom-width: 1px; border-style: solid; }

@media only screen and (min-width: 42em) { .wm-divider { margin: 3.62674em 0; } }

.wm-divider.type-dotted { border-style: dotted; }

.wm-divider.type-dashed { border-style: dashed; }

.wm-divider.type-double-line { height: 5px; border-top-width: 1px; border-bottom-width: 1px; }

.wm-divider.type-whitespace { margin: 3.62674em 0 0; border-width: 0; }

.wm-divider.size-small { display: inline-block; width: 19%; }

.wm-divider.size-medium { display: inline-block; width: 38%; }

.wm-divider.size-large { display: inline-block; width: 62%; }

.wm-divider.size-extra-large { display: inline-block; width: 81%; }

.fl-module-wm_divider .wm-divider, .fl-module-wm_divider .wm-divider.type-whitespace { margin: 0; }

.fl-module-wm_divider .fl-module-overlay { top: -6px; }

/* FILE: shortcodes/_message.scss */
.wm-message { position: relative; padding: 1.62rem; margin-bottom: 1.62em; text-align: center; border-width: 0.38em; border-style: solid; border-color: currentColor; border-radius: 0.19rem; transition: box-shadow 0.5s; transition-timing-function: cubic-bezier(0.165, 0.975, 0.53, 1.65); }

.site .wm-message { border-color: currentColor; }

.fl-module .wm-message { margin-bottom: 0; }

.wm-message[class*="icon-"] { padding-top: 4.63153em; }

.wm-message[class*="icon-"]::before { position: absolute; display: block; width: 100%; left: 0; top: 1.38rem; line-height: 1; font-size: 2.6244em; }

.fl-builder-content .wm-message * { color: inherit; }

.wm-message-title { margin-top: 0; margin-bottom: 0.38em; font-size: 1.38em; font-weight: 700; color: inherit; }

.wm-message p { margin-bottom: 0; }

.wm-message p:last-child { margin-bottom: 0; }

/* FILE: shortcodes/_posts.scss */
.wm-posts-item { display: -webkit-flex; display: -ms-flexbox; display: flex; position: relative; }

.wm-posts-item .entry { -webkit-flex: 0 1 auto; -ms-flex: 0 1 auto; flex: 0 1 auto; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; float: none; width: 100%; margin: 0; }

.no-widgets-sidebar .wm-posts-item .entry { border-color: inherit; }

.wm-posts-post .entry { text-align: left; }

.wm-posts .entry h2, .wm-posts .entry h3, .wm-posts .entry h4 { font-size: 1.62em; }

.wm-posts .entry-meta::before { display: none; }

.simple-layout .type-post { padding: .5em; border-width: 0; }

.simple-layout .type-post.entry:hover { box-shadow: none; }

.simple-layout .type-post .entry-media { display: none; }

.simple-layout .type-post .entry-meta { padding: 0.62em 1.62em; margin: 0 0 1.62rem; font-size: 0.81em; border-width: 0; }

.simple-layout .type-post .entry-meta::before { display: block; }

/* FILE: shortcodes/__projects.scss */
.posts .type-wm_projects { padding: 0; }

@media only screen and (min-width: 42em) { .search-results .posts .type-wm_projects { padding-bottom: 2.6244rem; } }

.posts .type-wm_projects .entry-media { margin: 0; }

.search-results .posts .type-wm_projects .entry-media { margin-bottom: 0; }

.posts .type-wm_projects .entry-header { padding: 2.6244rem 1.62rem; margin: 0; }

.posts .type-wm_projects h2, .posts .type-wm_projects h3, .posts .type-wm_projects h4 { font-size: 1.62em; }

.posts .type-wm_projects .entry-content { display: none; }

.posts .type-wm_projects .taxonomy { padding: 1rem 1.62rem 0; font-size: 0.81em; border-top-width: 1px; border-top-style: solid; }

@media only screen and (min-width: 42em) { .search-results .posts .type-wm_projects .taxonomy { padding-left: 0; padding-right: 0; } }

.posts .type-wm_projects .taxonomy:last-child { padding-bottom: 1rem; }

.posts .type-wm_projects .taxonomy + .taxonomy { padding-top: 0; border-width: 0; }

.posts .type-wm_projects .taxonomy a { color: inherit; }

.posts .type-wm_projects .taxonomy-label { margin-right: 0.38em; text-transform: uppercase; font-size: 0.81em; letter-spacing: .05em; }

.simple-layout .type-wm_projects { border-width: 0; overflow: hidden; }

.simple-layout .type-wm_projects .entry-header { position: absolute; left: 0; right: 0; bottom: 0; padding: 0; margin: 1rem; transition: opacity 0.5s, -webkit-transform 0.5s; transition: opacity 0.5s, transform 0.5s; transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s; }

@media only screen and (min-width: 80em) { .simple-layout .type-wm_projects .entry-header { height: calc( 100% - 2rem); opacity: 0; -webkit-transform: scaleY(0); -ms-transform: scaleY(0); transform: scaleY(0); } }

.simple-layout .type-wm_projects .entry-header a { display: block; padding: 6%; }

@media only screen and (min-width: 80em) { .simple-layout .type-wm_projects .entry-header a { -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column-reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; padding: 8% 4%; } }

@media only screen and (min-width: 80em) { .simple-layout .type-wm_projects:hover .entry-header, .simple-layout .type-wm_projects.focus .entry-header { opacity: .9; -webkit-transform: scaleY(1); -ms-transform: scaleY(1); transform: scaleY(1); } }

.simple-layout .type-wm_projects h2, .simple-layout .type-wm_projects h3, .simple-layout .type-wm_projects h4 { font-size: 1.38em; font-style: italic; color: inherit; }

@media only screen and (min-width: 80em) { .simple-layout .type-wm_projects h2, .simple-layout .type-wm_projects h3, .simple-layout .type-wm_projects h4 { display: -webkit-flex; display: -ms-flexbox; display: flex; height: 100%; } }

.simple-layout .type-wm_projects .entry-subtitle { margin-top: 0.38em; font-size: 0.62em; font-style: normal; }

@media only screen and (min-width: 80em) { .simple-layout .type-wm_projects .entry-subtitle { -webkit-order: -1; -ms-flex-order: -1; order: -1; } }

.simple-layout .type-wm_projects .taxonomy { display: none; }

/* FILE: shortcodes/__staff.scss */
.posts .type-wm_staff { padding-bottom: 0; text-align: center; }

@media only screen and (min-width: 42em) { .search-results .posts .type-wm_staff { padding-bottom: 2.6244rem; } }

.posts .type-wm_staff .entry-media, .search-results .posts .type-wm_staff .entry-media { margin: 0 0 1.62rem; }

.posts .type-wm_staff img { display: inline-block; width: 62%; max-width: 15rem; border-radius: 15rem; }

.posts .type-wm_staff h2, .posts .type-wm_staff h3, .posts .type-wm_staff h4 { font-size: 1.62em; font-style: italic; }

.posts .type-wm_staff .entry-content .button { margin: 0 auto 1.62rem; }

.posts .type-wm_staff .entry-content .button .entry-subtitle { display: none; }

.posts .type-wm_staff .taxonomy { padding: 1rem; margin: 1.62rem -1.62rem 0; font-size: 0.81em; }

@media only screen and (min-width: 42em) { .posts .type-wm_staff .taxonomy { margin-left: -2.6244rem; margin-right: -2.6244rem; } }

@media only screen and (min-width: 80em) { .posts .type-wm_staff .taxonomy { margin-left: -3.62674rem; margin-right: -3.62674rem; } }

.posts .type-wm_staff .taxonomy a { color: inherit; }

.posts .type-wm_staff .taxonomy-label { margin-right: 0.38em; text-transform: uppercase; font-size: 0.81em; letter-spacing: .05em; }

.posts .type-wm_staff .taxonomy + .taxonomy { margin-top: 0; }

@media only screen and (min-width: 42em) { .search-results .posts .type-wm_staff .taxonomy { padding: 1rem 0 0; margin: 0; background: transparent; color: inherit; border-top-width: 1px; border-top-style: solid; }
  .search-results .posts .type-wm_staff .taxonomy + .taxonomy { padding-top: 0; border-width: 0; }
  .search-results .posts .type-wm_staff .taxonomy::before { display: none; } }

.hide-excerpt .type-wm_staff .summary, .hide-summary .type-wm_staff .summary { display: none; }

.wm-posts-wm_projects .no-margin .wm-posts-item, .wm-posts-wm_staff .no-margin .wm-posts-item { padding: 1px; }

.wm-posts-wm_projects .wm-posts-item, .wm-posts-wm_staff .wm-posts-item { display: block; }

@media only screen and (min-width: 42em) { .single-wm_projects:not(.fl-builder):not(.content-layout-no-paddings) .entry-content, .single-wm_staff:not(.fl-builder):not(.content-layout-no-paddings) .entry-content { padding-left: 23.56%; }
  .single-wm_projects .site-main > .entry > .entry-media, .single-wm_staff .site-main > .entry > .entry-media { position: relative; float: left; width: 38%; margin: 0 1.62em 1em; margin-left: 0; z-index: 1; } }

/* FILE: shortcodes/_tabs.scss */
.wm-tab-links { position: relative; padding: 0; margin: 0; line-height: 1.19; list-style: none; border-width: 1px; border-style: solid; z-index: 1; }

@media only screen and (min-width: 55em) { .wm-tab-links { text-align: center; } }

.wm-tab-links li { display: block; vertical-align: top; margin: 0; border-top-width: 1px; border-top-style: solid; }

.wm-tab-links li:first-child { border-top-width: 0; }

@media only screen and (min-width: 55em) { .wm-tab-links li { display: -webkit-flex; display: -ms-flexbox; display: flex; border-width: 0; } }

.wm-tab-links li a { text-decoration: none; }

.wm-tab-links a { -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; display: block; padding: 1rem; margin: -1px 0; text-transform: uppercase; font-size: 0.81em; font-weight: 700; color: inherit; transition: background 0.3s, color 0.3s, box-shadow 0.3s; }

.wm-tab-links i::before, .wm-tab-links span::before { display: inline-block; width: 2em; height: 2em; margin-right: 0.62em; line-height: 2; line-height: calc( 2em - 2px); font-size: 1.62em; border-width: 2px; border-style: solid; border-color: currentColor; border-radius: 2em; vertical-align: middle; }

@media only screen and (min-width: 55em) { .layout-top .wm-tab-links { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .layout-top .wm-tab-links li { -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; border-left-width: 1px; border-left-style: solid; }
  .layout-top .wm-tab-links li:first-child { border-left-width: 0; } }

@media only screen and (min-width: 55em) { .layout-left .wm-tab-links, .layout-right .wm-tab-links { display: block; float: left; width: 25%; text-align: inherit; }
  .layout-left .wm-tab-links li, .layout-right .wm-tab-links li { display: block; border-top-width: 1px; border-top-style: solid; }
  .layout-left .wm-tab-links li:first-child, .layout-right .wm-tab-links li:first-child { border-top-width: 0; }
  .layout-left .wm-tab-links a, .layout-right .wm-tab-links a { padding-left: 1.62rem; padding-right: 1.62rem; margin: -1px; }
  .layout-right .wm-tab-links { float: right; } }

.wm-tour-nav { display: none; }

@media only screen and (min-width: 42em) { .wm-tour-nav { font-size: 0.81em; }
  .wm-tour-nav.bottom { display: block; }
  .wm-tour-nav a, .wm-tour-nav i, .wm-tour-nav span { color: inherit; }
  .wm-tour-nav a { display: block; padding: 1rem; text-decoration: none; }
  .wm-tour-nav a::after, .wm-tour-nav a::before { font-size: 1.62em; vertical-align: middle; line-height: 1; }
  .wm-tour-nav .prev, .wm-tour-nav .next { display: inline-block; width: 50%; }
  .wm-tour-nav .prev i, .wm-tour-nav .prev span, .wm-tour-nav .next i, .wm-tour-nav .next span { margin-right: 1em; }
  .wm-tour-nav .prev { text-align: left; }
  .wm-tour-nav .prev a::before { content: '\f430'; padding-right: 1rem; margin-right: 1rem; border-right-width: 1px; border-right-style: solid; }
  .wm-tour-nav .next { text-align: right; }
  .wm-tour-nav .next a::after { content: '\f429'; padding-left: 1rem; margin-left: 1rem; border-left-width: 1px; border-left-style: solid; } }

.wm-tabs-items { position: relative; }

.layout-top.tour-tabs .wm-tabs-items { z-index: 2; }

@media only screen and (min-width: 55em) { .layout-left .wm-tabs-items { padding-left: 25%; }
  .layout-right .wm-tabs-items { padding-right: 25%; } }

/* FILE: shortcodes/_testimonials.scss */
.archive-testimonials .posts .wm-testimonials, .search-results .posts .wm-testimonials { padding: 0; text-align: inherit; border-width: 0; }

.archive-testimonials .posts .wm-testimonials:hover, .search-results .posts .wm-testimonials:hover { box-shadow: none; }

.wm-testimonials blockquote { position: relative; padding: 1.62rem; margin: 0; font-size: 1.19em; border-top-width: 1px; border-top-style: solid; border-left-width: 1px; border-left-style: solid; }

@media only screen and (min-width: 80em) { .wm-testimonials blockquote { padding: 2.6244rem; } }

.fl-col-small .wm-testimonials blockquote { padding: 1.62rem; padding-right: 0; }

.wm-testimonials blockquote::after { content: ''; position: absolute; display: block; width: calc( 50% - 0.81rem); height: auto; left: -1px; top: 100%; border-top-width: 1px; border-top-style: solid; }

.wm-testimonials blockquote::before { content: '\f106'; float: left; position: relative; display: inline-block; width: auto; height: auto; left: auto; top: auto; margin-right: 0.38em; line-height: 1; font-size: 2.6244em; border-width: 0; }

.wm-testimonials .source { position: relative; display: block; padding-top: 0.62em; margin: 1.62em 0 0; text-align: center; font-weight: 700; }

.wm-testimonials .source::after, .wm-testimonials .source::before { content: ''; position: absolute; display: block; height: 1.62rem; left: calc( 50% - 0.81rem); bottom: 100%; margin-left: -1px; border-left-width: 1px; border-left-style: solid; border-color: inherit; }

.wm-testimonials .source::after { height: 2.6244rem; -webkit-transform: skewX(-45deg); -ms-transform: skewX(-45deg); transform: skewX(-45deg); -webkit-transform-origin: 100% 100%; -ms-transform-origin: 100% 100%; transform-origin: 100% 100%; }

.wm-testimonials .source small { display: block; }

.wm-testimonials .image img { display: inline; width: 3.62674em; margin: 0 1rem 0; margin-left: 0; border-radius: 5em; }

.wm-testimonials-item { transition: border-color 0.3s; }

.wm-testimonials-item:hover, .slick-slide:hover .wm-testimonials-item { border-color: currentColor; }
