/* FILE: woocommerce/main/__menu.scss */

//
// Mobile menu styles
//





.shop-mobile-menu-links {
	@extend %wc_clearfix;
	position: fixed;
	display: inline-block;
	width: 12rem;
	#{$left}: 50%; // {{RTL}}
	bottom: -1rem;
	line-height: 1 + $golden_minor;
	z-index: 990; // Below the `.menu-toggle` button and the actual primary menu
	transform: translateX(-50%);
	animation: comeInFromBottom ( $large_animation_speed * 3s );

	.button {
		@extend %wc_indent_text_for_icon_only;
		width: 4rem;
		height: 4rem;
		padding: 0;
		text-align: center;
		font-size: $golden +em;
		font-weight: 700;
		border-color: currentColor;
		border-radius: 4rem;
		box-shadow: 0 -2px ( $golden +rem ) rgba( #000, .5 );

		&::before {
			line-height: 3rem;
		}

		&:last-child {
			float: $right; // {{RTL}}
		}

		&:nth-child(1):nth-last-child(1),
		&:nth-child(2):nth-last-child(1) {
			border-bottom-#{$left}-radius: 0;
		}

		&:nth-child(1):nth-last-child(2) {
			border-bottom-#{$right}-radius: 0;
		}

	}

	.link-cart::before,
	.link-checkout::before,
	.link-shop::before {
		content: '\f447';
	}

	.link-myaccount::before {
		content: '\f304';
	}

	@media only screen and (min-width: #{ map_get( $breakpoint, 'm' ) / 16 +em } ),
	       only screen and (max-height: #{ ( map_get( $breakpoint, 's' ) - 1 ) / 16 +em } ) {
		display: none;
	}

}
